{% load i18n %}
{% load url from future %}
{% load bootstrap_toolkit %}
<p>{{ label }}</p>
<form method="post" id="one_click" 
action='{% if is_set %}{% url "make_one_click_set_order" %}{% else %}{% url "make_one_click_order" product_id %}{% endif %}'>
{% csrf_token %}
{{form|as_bootstrap:"horizontal"}}
{% if is_set %}
    {% for item, item_amount in products_data.items %}
        <input class="hidden_data" type="hidden" name="{{ item }}" value="{{ item_amount }}">
    {% endfor %}
{% endif %}
<input id="one_click_submit" type="submit" class="btn btn-primary" value="{% trans 'Make order' %}" />
<script type="text/javascript">
    $('#one_click_submit').click(function(event) {
            $(this).attr('disabled', 'disabled');
            event.preventDefault();
            url = '{% url "validate_one_click" %}';
            $.ajax(url, {
                type: 'POST',
                data: $('form#one_click').find('input:not(".hidden_data")').serialize(),
                success: function(data) {
                    var data = $.parseJSON(data);
                    if (data['submit']){
                        $('form#one_click').submit()
                    }
                    else {
                        $('form#one_click .help-block')[0].innerHTML = data['message'];
                        $('form#one_click #id_number').css('border-color', 'red');
                        $('form#one_click .help-block').css('color', 'red');
                        $('#one_click_submit').removeAttr('disabled');
                    }
                },
            });
        }
    );
    $('#one_click #id_number').inputmask({
        mask: "389999999999",
        showMaskOnHover: false
    });
</script>
</form>
