{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load staticfiles %}
{% load url from future %}
{% load infoshina_theme_tags %}
{% load properties_tags %}
{% if product_slug %}
    {% if not ajax %}
        <div id="analagous_products_{{ pa_id }}" product_slug="{{ product_slug }}" pa_id="{{ pa_id }}">
            
        </div>
    {% endif %}
    {% if products and filteroptions_dict %}
        <div id="portlet_{{ portlet.id }}">
            <div class="analagous-products-portlet portlet">
                <div class="portlet-body js-bx-slider-{{ portlet.id }} clearfix" style="position:relative;">
                    {% for product in products %}
                        <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %} pull-left" > 
                            <div class="product-image">
                                <a href="{{ product.get_absolute_url }}">
                                    {% badges_for_product product %}
                                    {% if product.get_image %}
                                        <img src="{{ product.get_image.image.url_large }}">
                                    {% else %}
                                        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="product-title">
                                <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                            </div>
                            {% if product.is_product_with_variants %}
                                {% property_value_icons product %}
                                {% if product.get_for_sale %}
                                    <div class="product-price">
                                        <span class="label label-important price">{% for_sale_price product %}</span>
                                        <ul>                
                                            <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                            <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        <span class="label label-info price">{% cheapest_price product %}</span>
                                    </div>
                                {% endif %}
                               <div class="custom-btn-wrapper"><a href="{{product.get_absolute_url}}" class="btn custom-btn">Все варианты</a></div>
                               <p class="variants-quantity">Найдено размеров: {{ product|correct_variants|correct_variants_property|sorted_by_diametr|length }}</p>
                            {% else %}
                                {% if product.get_for_sale %}
                                    <div class="product-price">
                                        <span class="label label-important price">{% for_sale_price product %}</span>
                                        <ul>
                                            <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                            <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        <span class="label label-info price">{% price product %}</span>
                                    </div>
                                {% endif %}
                                {% if product.status.show_buy_button %}
                                    <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                                        <input name="ajax_mode" type="hidden" value="1" />
                                        <input class="input-small inline hide" name="quantity" type="text" value="4">
                                        
                                        <button class="btn">{% trans "Buy" %}</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="portlet-title-{{ portlet.id }}" style="display:none;">
                {% if products.0.categories.all.0.slug == 'shiny'%}
                    {{ title }} {% if title %}{{ filteroptions_dict.sezon }}{% else %}{{ filteroptions_dict.sezon|title }}{% endif %} {{ products.0.categories.all.0.name|lower }} {{ filteroptions_dict.brand }} {% if product_type == '2' %}{{filteroptions_dict.wshiny }}/{{filteroptions_dict.hshiny }} {{filteroptions_dict.rshiny }}{% endif %}
                {% else %}
                    {{ title }} {% if title %}{{ filteroptions_dict.tip_diska }}{% else %}{{ filteroptions_dict.tip_diska|title }}{% endif %} {{ products.0.categories.all.0.name|lower }} {{ filteroptions_dict.brand }} {% if product_type == '2' %}W{{ filteroptions_dict.wdiski }} {{ filteroptions_dict.rdiski }} PCD{{ filteroptions_dict.pcd }}{% endif %}
                {% endif %}
                
            </div>
            <a href="{{ more_link }}">
                {% if products.0.categories.all.0.slug == 'shiny'%}
                    {% trans 'All' %} {{ filteroptions_dict.sezon }} {{ products.0.categories.all.0.name|lower }} {{ filteroptions_dict.brand }} {% if product_type == '2' %}{{filteroptions_dict.wshiny }}/{{filteroptions_dict.hshiny }} {{filteroptions_dict.rshiny }}{% endif %}
                {% else %}
                    {% trans 'All' %} {{ filteroptions_dict.tip_diska }} {{ products.0.categories.all.0.name|lower }} {{ filteroptions_dict.brand }} {% if product_type == '2' %}W{{ filteroptions_dict.wdiski }} {{ filteroptions_dict.rdiski }} PCD{{ filteroptions_dict.pcd }}{% endif %}
                {% endif %}
            </a>
        </div>
        <script type="text/javascript">
            $(function(){
                var realTitle = $('.portlet-title-{{ portlet.id }}').text();
                $('.tab-portlet-title-{{ portlet.id }}').html('<span class="border-dashed">' + realTitle + '</span>');
            })
        </script>
        {% if ajax %}
            <script type="text/javascript">
                mediator.publish("add_to_cart");
            </script>
        {% endif %}
    {% elif ajax %}
        <script type="text/javascript">
            $(function(){
                var $portletTab = $('.tab-portlet-title-{{ portlet.id }}');
                var portlet_ul = $portletTab.closest('ul');
                $portletTab.css({'pointer-events': 'none', 'cursor': 'default'}).html('&nbsp;').closest('li').remove();
                var first_tab = portlet_ul.find('li a');
                if(!first_tab.length){
                    portlet_ul.closest('div[id*="portlet-tabs-"]').remove();
                } 
                else{
                    portlet_ul.find('li a').click();
                }
            })
        </script>
    {% endif %}
    {% if init %}
        <script type="text/javascript">

            $.ajax({
              url: "{% url 'analagous_products_for_product' %}",
              type: "POST",
              dataType: "json",
              data: {
                // 'ajax_mode': '{{ ajax_mode }}',
                // 'page': {{ page }},
                'product_slug': '{{ product_slug }}',
                'title': '{{ title }}',
                'slot_name': '{{ slot_name }}',
                'pa_id': '{{ pa_id }}'

              },
              success: function(msg){
                var $currentPortletInner = $('#analagous_products_{{ pa_id }}');
                $currentPortletInner.html(msg['html']);
                $('.js-bx-slider-{{ portlet.id }}').bxSlider({
                    slideWidth: 5000,
                    minSlides: 4,
                    maxSlides: 4,
                    slideMargin: 50,
                    infiniteLoop: false,
                    hideControlOnEnd: true,
                    pager: false,
                    moveSlides: 4
                });
                $('.bx-viewport .bx-controls').remove();

                // hide analogous products if they in tabs and have no products
                hideAnalogousProducts();
                function hideAnalogousProducts() {
                    if (!$('.js-portlet-tabs-initiate').length) return;
                    if ($currentPortletInner.closest('.js-portlet-tabs-initiate').length && !$currentPortletInner.find('.analagous-products-portlet').length) {
                        var tabIndex = $('#' + $currentPortletInner.closest('.js-portlet-tabs-container').attr('id').replace('tabs', 'li')).index();
                        $currentPortletInner.closest('.ui-tabs').tabs('remove', tabIndex);
                    }
                }

                page_designer.page_rebuild();
              }
            });
        </script>
    {% endif %}
{% endif %}