{% if video %}
<div class="header_wave">
	<h4><p>Видеообзор</p></h4>
 </div>
<ul class="video_block">
    <li>
    {% for v in video %}
       <div>{% autoescape off %}{{ v.code }}{% endautoescape %}</div>
       <p>{{ v.title }}</p>
    {% endfor %}
    </li>
</ul>
{% endif %}