{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
    </li>
    {% if show_delivery_page %}
        <li>
            <a href='{% url "delivery_index" %}' title="{{delivery_page_name|lower}}">{{ delivery_page_name }}</a> <span class="divider">/</span>
        </li>
    {% endif %}
    <li>
        <a href='{% url "region_city_page" regional_center.slug %}' title="{{ city.region.name|lower }}">{{ city.region.name }}</a> <span class="divider">/</span>   
    </li>
    <li>
        <span> {{ city.name }}</span>
    </li>
</ul>
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delivery_pages.css' %}">

<div class="span12 pull-right">
    {% if city.title %}
        <h1>{{ city.title }}</h1>
    {% elif meta_h1 %}
        <h1>{{ meta_h1 }}</h1>
    {% endif %}
    <form action="" method="post" class='city'>
        {% csrf_token %}
        <label>{% trans 'Select city' %}: </label>{{ form.city }}
    </form>
    <ul class="nav nav-tabs">
    {% for service, office in offices.iteritems %}
        <li {% if forloop.first %}class="active"{% endif %}>
            {% if office %}
            <a href="#{{ service.id }}" data-toggle="tab" title="{{ service.name|lower }}">{{ service.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for service, office in offices.iteritems %}
        {% if office %}
        <ul id="{{ service.id }}" class="tab-pane {% if forloop.first %}active{% endif%}">
            {% for of in office %}
                <li>{% if of.name %}{{ of.name }}:{% endif %} {{ of.address }} тел.: {{ of.phone }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    </div>
    <div id="categories-links">
        {% for category in shop_categories %}
            <div class="category">
                <a href="{% url 'lfs_category' category.slug %}" title="{{ category.name|lower }}" class="btn btn-blue">
                    {% if category.icon %}
                            <img src="{{ MEDIA_URL }}{{ category.icon }}" alt="{{ category.name|lower }}" title="{{ category.name|lower }}" />
                    {% endif %}
                    {{ category.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row-fluid">
    <div>
        {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
    </div>
</div>
<div class="links" style="padding-bottom: 20px;">
    <div class="portlet-header">
    <h4><p>Доставка в города области</p></h4>
    </div>
    {% for city in cities %}
    <a href="{{ site }}{{ city.get_absolute_url }}" title="{{ city.name|lower }}">{{ city.name }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_city').val('{{city.slug}}');
        $('.center').html('{{ city.name }}');
        $('#id_city').find("option[value='{{ city.slug }}']").attr('selected', 'selected')
        $('#id_city').change(function(){
            $('form.city').submit();
        });
    });
    mediator.publish('change_slots_width', "span2", "span8", "span10");
</script>
{% endblock %}
