{% load i18n %}
{% load url from future %}
{% load bootstrap_toolkit %}
<form class="authenticate form-horizontal"
      {# action="{% url 'modal_login' %}" #}
      method="post">
  {% csrf_token %}

  {{ login_form|as_bootstrap:"horizontal" }}

  <input type="hidden"
         name="action"
         value="login" />

  <input type="hidden"
         name="next"
         value="{{ next_url }}" />

  <div class="form-actions">
  <button type="submit"
          name="login_submit"
          class="btn btn-red">{% trans 'Login' %}</button>
  </div>
</form>
<script type="text/javascript">
  $(function(){
    $("#require_accept_rules").attr("checked",true);
    var $maskReg = $('.login-form .control-group #id_username').first(); 
    $maskReg.inputmask({
        mask: "38 (999) 999-99-99",
        showMaskOnHover: false
    }); 
  })

  $(document).on("submit", "#sshop-modal .authenticate", function(){
    var usernameVal =  $('.login-form .control-group #id_username').first().val().replace(/-/g,'').replace(/ /g,'').replace('(','').replace(')',"");
    $('.login-form .control-group #id_username').inputmask({mask: "999999999999"});
    $('.login-form .control-group #id_username').first().val(usernameVal);

    data = $(this).serializeArray();
    $.ajax({
        type: 'POST',
        url: "/modal-login/",
        data: data,
        dataType: "json",
        success: function(msg){
            if(msg)
              $('.login-form').html(msg['html']);
            else{
              $.get('/cart-block',
                success=function(html){
                  $('#cart-container').html(html);
                });
              $.get('/top-bar',
                success=function(html){
                  $('#top-bar-container').html(html);
                });
              $("#sshop-modal .close").click();
              $.jGrowl('Вы вошли.',{
                  theme: "registration-autentif-message",
                  life:4000,
              });
            }
        },
    });
    return false;
  });
</script>