{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags %}
{% load infoshina_theme_tags %}
{% load properties_tags %}
{% if product.slug not in request.path %}
    {% if 'shiny' in request.META.HTTP_REFERER or 'diski' in request.META.HTTP_REFERER %}
        <div>
           {# <a href="{% url 'lfs_product_variants_for_category' product.pk %}" class="btn ajax-load" title="все варианты" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a> #}
        </div>
        <div>
            {{ product.get_short_description|safe }}
        </div>
    {% endif %}
{% endif %}
{% if product.parent %}

    <div class="product_variant">

        {% if product.pk != product_variant.pk or product.is_product_with_variants %}
            {% if product.get_category.slug == "diski" %}
                {% property_for_product_infoshina product "diametr" as prop_diametr  %}
                {% property_for_product_infoshina product "shirina-diska" as prop_shirina  %}
                {% property_for_product_infoshina product "dia" as prop_dia  %}
                {% property_for_product_infoshina product "pcd" as prop_pcd  %}
                {% property_for_product_infoshina product "et" as prop_et  %}
                <ul class="custom-properties">
                    {% comment %}
                    <li>Диаметр <span>{% property_for_product product "diametr" %}</span></li>
                    <li>Ширина диска <span>{% property_for_product product 'shirina-diska' %}</span></li>
                    <li>DIA <span>{% property_for_product product 'dia' %}</span></li>
                    <li>PCD <span>{% property_for_product product 'pcd' %}</span></li>
                    <li>ET <span>{% property_for_product product 'et' %}</span></li>
                    {% endcomment %}
                    {% if prop_diametr %}
                        <li>Диаметр <span>{{ prop_diametr }}</span></li>
                    {% endif %}
                    {% if prop_shirina %}
                        <li>Ширина диска <span>{{ prop_shirina }}</span></li>
                    {% endif %}
                    {% if prop_dia %}
                        <li>DIA <span>{{ prop_dia }}</span></li>
                    {% endif %}
                    {% if prop_pcd %}
                        <li>PCD <span>{{ prop_pcd }}</span></li>
                    {% endif %}
                    {% if prop_et %}
                        <li>ET <span>{{ prop_et }}</span></li>
                    {% endif %}
                </ul>
                {% comment %}
                    <div class="row-fluid">
                        <label for="diameter">Диаметр</label>
                        <select id="diametr_diski" class="select_option_diski">
                            <option selected="selected" class="diametr_option_diski" value="{% property_for_product product 'diametr' %}">{% property_for_product product "diametr" %}</option>  
                           {% for product_variant in product|correct_variants %}
                           <option class="diametr_option_diski">{% property_for_product product_variant "diametr" %}</option>
                           {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">Ширина диска</label>
                        <select id="shirina_diska_diski" class="select_option_diski">
                            <option selected="selected" class="shirina-diska" value="{% property_for_product product 'shirina-diska' %}">{% property_for_product product 'shirina-diska' %}</option>
                           {% for product_variant in product|correct_variants %}<option class="shirina-diska" >{% property_for_product product_variant "shirina-diska" %}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">DIA</label>
                        <select id="dia_diski" class="select_option_diski" >
                            <option selected="selected" class="dia" value="{% property_for_product product 'dia' %}">{% property_for_product product 'dia' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="dia" >{% property_for_product product_variant "dia" %}</option> {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">PCD</label>
                        <select id="pcd_diski" class="select_option_diski">
                            <option selected="selected" class="pcd" value="{% property_for_product product 'pcd' %}">{% property_for_product product 'pcd' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="pcd" >{% property_for_product product_variant "pcd" %}</option> {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">ET</label>
                        <select id="et_diski" class="select_option_diski">
                            <option selected="selected" class="et" value="{% property_for_product product 'et' %}">{% property_for_product product 'et' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="et" >{% property_for_product product_variant "et" %}</option> {% endfor %}
                        </select>
                    </div>
                {% endcomment %}
            {% else %}
                {% property_for_product_infoshina product "diametr" as prop_diametr  %}
                {% property_for_product_infoshina product "shirina-shinyi" as prop_shirina  %}
                {% property_for_product_infoshina product "profil" as prop_profil  %}
                {% property_for_product_infoshina product "insdeks-skorosti" as prop_indeks_skorosti  %}
                {% property_for_product_infoshina product "indeks-nagruzki" as prop_indeks_nagruzki  %}
                <ul class="custom-properties">
                    {% comment %}<li>Диаметр <span>{% property_for_product product "diametr" %}</span></li>
                    <li>Ширина шины <span>{% property_for_product product 'shirina-shinyi' %}</span></li>
                    <li>Профиль <span>{% property_for_product product 'profil' %}</span></li>
                    <li>Индекс скорости <span>{% property_for_product product 'indeks-skorosti' %}</span></li>
                    <li>Индекс нагрузки <span>{% property_for_product product 'indeks-nagruzki' %}</span></li>
                    {% endcomment %}
                    {% if prop_diametr %}
                        <li>Диаметр <span>{{ prop_diametr }}</span></li>
                    {% endif %}
                    {% if prop_shirina %}
                        <li>Ширина шины <span>{{ prop_shirina }}</span></li>
                    {% endif %}
                    {% if prop_profil %}
                        <li>Профиль <span>{{ prop_profil }}</span></li>
                    {% endif %}
                    {% if prop_indeks_skorosti %}
                        <li>Индекс скорости <span>{{ prop_indeks_skorosti }}</span></li>
                    {% endif %}
                    {% if prop_indeks_nagruzki %}
                        <li>Индекс нагрузки <span>{{ prop_indeks_nagruzki }}</span></li>
                    {% endif %}
                </ul>
                {% comment %}
                    <div class="row-fluid">
                        <label for="diameter">Диаметр</label>
                        <select id="diametra" class="select_option_shiny">
                            <option selected="selected" class="diametr_option" value="{% property_for_product product 'diametr' %}">{% property_for_product product "diametr" %}</option>
                           {% for product_variant in product|correct_variants %} <option class="diametr_option">{% property_for_product product_variant "diametr" %}</option> {% endfor %}
                        </select>
                    </div>
                    <div  class="row-fluid">
                        <label for="tire-width">Ширина шины</label>
                        <select id="shirina_shinyia" class="select_option_shiny">
                            <option selected="selected" class="shirina-shinyi" value="{% property_for_product product 'shirina-shinyi' %}">{% property_for_product product 'shirina-shinyi' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="shirina-shinyi" >{% property_for_product product_variant "shirina-shinyi" %}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">Профиль</label>
                        <select id="profila" class="select_option_shiny" >
                            <option selected="selected" class="profil" value="{% property_for_product product 'profil' %}">{% property_for_product product 'profil' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="profil" >{% property_for_product product_variant "profil" %}</option> {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">Индекс скорости</label>
                        <select id="indeks_skorostia" class="select_option_shiny" >
                            <option selected="selected" class="indeks-skorosti" value="{% property_for_product product 'indeks-skorosti' %}">{% property_for_product product 'indeks-skorosti' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="indeks-skorosti" >{% property_for_product product_variant "indeks-skorosti" %}</option> {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid">
                        <label for="tire-width">Индекс нагрузки</label>
                        <select id="indeks_nagruzkia" class="select_option_shiny">
                            <option selected="selected" class="indeks-nagruzki" value="{% property_for_product product 'indeks-nagruzki' %}">{% property_for_product product 'indeks-nagruzki' %}</option>
                           {% for product_variant in product|correct_variants %} <option class="indeks-nagruzki" >{% property_for_product product_variant "indeks-nagruzki" %}</option> {% endfor %}
                        </select>
                    </div>
                {% endcomment %}
            {% endif %}
            {% if variants|length > 1 or product.parent == None and variants %}
                <div class="product_variant_carousel slider2">
                    <div class="portlet-header">
                        <h4><p>Все размеры данной модели</p></h4>
                    </div>
                    <a href="#" class="btn-prev" title="назад">назад</a>
                    <a href="#" class="btn-next" title="вперед">вперед</a>
                    <div class="mask">
                        <ul>
                            {% for product_variant in product|correct_variants %}
                                <li>
                                    <div class="portlet-item item">
                                        <div class="image-wrapper">
                                            {% if product_variant.get_image %}
                                                <a href="{{ product_variant.get_absolute_url }}" title="{{ product_variant.name|lower }}">       
                                                 {% badges_for_product product_variant %} 
                                                    <img  title="{{ product_variant.name|lower }}" alt="{{ product_variant.name|lower }}" src="{{ product_variant.get_image.image.url_200x200 }}" />       
                                                </a>
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product_variant.get_image.title }}" class="product-image" />
                                            {% endif %}                
                                        </div>
                                        <div class="product-title">
                                            <a href="http://{{request.get_host}}{% url 'lfs_product' product_variant.slug %}" title="{{ product_variant.get_name|lower }}">{{ product_variant.get_name }}</a>
                                        </div>
                                        <div class="product-price">
                                            {% if product_variant.get_for_sale %}
                                                <span class="for-sale-standard-price">
                                                    {% standard_price product_variant %}
                                                </span>
                                                {% for_sale_price product_variant %} 
                                            {% else %} 
                                                {% price product_variant %} 
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <input name="product_id" type="hidden" value="" />
            <input name="ajax_mode" type="hidden" value="1" />
            {% include 'lfs/catalog/init_buy_button.html' with id=product.id page_type='product_page'%}

            {% buy_on_credit_button %}
            <script type="text/javascript">
                $.cookie('credit',null, {
                            path: '/checkout'
                        });
                $('#button_add_cart_credit').click(function() {
                    $.cookie('credit','credit', {
                        path: '/checkout'
                    });
                });
                $(document).ready(function() {
                    $('#button_add_cart').click(function(){
                    GIHhtQfW_AtmPixel('infoshina.com.ua/to_cart.html');
                    });
                });
            </script>
        {% endif %}
    </div>
{% else %}
    {% if variants|length > 1 or product.parent == None and variants %}
    {# <p><a href="" class="js-variant-toggle"><span class="js-handle">bla bla bla</span></a></p> #}
        <h3 class="variant-title">Выберите нужные параметры:</h3>
        <h4>Диаметр:</h4>
        <div class="js-tabs js-tabs-{{ product.pk }} ui-tabs">
        <ul class="tabs ui-tabs-nav">
            {% for i, product_variant in product|correct_variants|sorted_by_diametr %}
                {% if product_variant.status.show_buy_button %}
                    <li class="diametr {{ product_variant.properties.diametr }}-{{ product.pk }} {% if not i.2 %}hide{% endif %}" data-diametr="{{ product_variant.properties.diametr }}-{{ product.pk }}">
                        <a href="#{{ product_variant.properties.diametr }}-{{ product.pk }}">
                            <span>{{ product_variant.properties.diametr }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}    
        </ul>
        {% if product.get_category.slug == "shiny" and product.slug in request.path %}
        <div class="variants-filter-wrapper">
            <span>Типоразмер:</span>
            <select id="variants-filter"></select>
        </div>
        {% endif %}
            <div class="row-fluid brd">
                {% if product.get_category.slug == "diski" %}
                    <div class="span4">Типоразмер</div>
                    <div class="span2">Цвет</div>
                    <div class="span2">Тип диска</div>
                {% else %}
                    <div class="span2">Типоразмер</div>
                    <div class="span2">Индексы</div>
                    <div class="span2"></div>
                    <div class="span2">Шипование</div>
                {% endif %}
                    <div class="span2 tl pl35">Цена</div>
            </div>
            {% for i, product_variant in product|correct_variants|sorted_by_diametr %}
                {% if product.pk != product_variant.pk or product.is_product_with_variants %}
                    <div id="{{ product_variant.properties.diametr }}-{{ product.pk }}" class="hide diametr tabs_{{ product_variant.properties.diametr }}-{{ product.pk }}">
                        {% if product_variant.status.show_buy_button %}
                            <div class="product_variant {{ product_variant.properties.diametr }}-{{ product.pk }} filtered-product-variant" 
                                {% if product.get_category.slug = 'shiny'%}
                                id="{{ product_variant.properties.shirina_shinyi }}/{{ product_variant.properties.profil }}"
                                data-diametr="{{ product_variant.properties.diametr }}"{% endif %}>
                                <div class="row-fluid brd">
                                    {% if product.get_category.slug == "diski" %}
                                        <div class="product-variant-property span4" >
                                            <a href="http://{{request.get_host}}{% url 'lfs_product' product_variant.slug %}" title="{{product_variant}}">
                                                {{ product_variant.properties.diametr }}
                                                {% if product_variant.properties.shirina_diska %}W{{ product_variant.properties.shirina_diska }}{% else %}-{% endif %}
                                                {% if product_variant.properties.pcd %}PCD{{ product_variant.properties.pcd }}{% else %}-{% endif %}
                                                {% if product_variant.properties.et %}ET {{ product_variant.properties.et }}{% else %}-{% endif %}
                                                {% if product_variant.properties.dia %}DIA{{ product_variant.properties.dia }}{% else %}-{% endif %}
                                            </a>
                                        </div>
                                        <div class="product-variant-property span2">
                                            {% if product_variant.properties.tsvet %}{{ product_variant.properties.tsvet }}{% else %}-{% endif %}
                                        </div>
                                        <div class="product-variant-property span2">
                                            {% if product_variant.properties.tip_diska %}{{ product_variant.properties.tip_diska }}{% else %}-{% endif %}
                                        </div>
                                    {% else %}
                                       <div class="product-variant-property span2" >
                                            <a href="http://{{request.get_host}}{% url 'lfs_product' product_variant.slug %}" title="{{product_variant}}">
                                                {{ product_variant.properties.shirina_shinyi }}/{{ product_variant.properties.profil }} 
                                                {% if product_variant.properties.diametr %}{{ product_variant.properties.diametr }}{% else %}-{% endif %}
                                            </a>
                                        </div>
                                        <div class="product-variant-property span2">
                                            {% splited_property_for_product product_variant "index" as property %}
                                            {% if property %}{{ property }}{% else %}-{% endif %}
                                        </div>
                                        <div class="product-variant-property span2">
                                            {% splited_property_for_product product_variant "values" as property %}
                                            {% if property %}{{ property }}{% else %}-{% endif %}
                                        </div> 
                                        <div class="product-variant-property span2">
                                            
                                            {% if product_variant.properties.shipyi %}{{ product_variant.properties.shipyi }}{% else %}-{% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="product-variant-price span2 tl pl35">
                                        {% if product_variant.get_for_sale %}
                                            <span class="for-sale-standard-price">
                                                {% standard_price product_variant %}
                                            </span>
                                            {% for_sale_price product_variant %} 
                                        {% else %} 
                                            {% price product_variant %} 
                                        {% endif %}
                                    </div>
                                    <div class="span2 pull-right">    
                                        <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}" class="add-to-cart-form" method="post">
                                            {% csrf_token %}
                                            <input name="product_id" type="hidden" value="{{ product_variant.id }}" />
                                            <input name="ajax_mode" type="hidden" value="1" />
                                            <input class="input-small inline hide" name="quantity" type="text" value="4" />
                                            {% include 'lfs/catalog/init_buy_button.html' with id=product.id page_type='model_page'%}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <script type="text/javascript">
                    var propertyDiametr = "{{ product_variant.properties.diametr }}".replace('.', '\\.')
                    $(".tabs_"+ propertyDiametr +"-{{ product.pk }}").append($(".product_variant."+ propertyDiametr +"-{{ product.pk }}"));
                    $(".tabs ."+ propertyDiametr +"-{{ product.pk }}:not(:first)").remove();
                    $(".tabs_"+ propertyDiametr +"-{{ product.pk }}:not(:first)").remove();
                    var brand = "{{ product_variant.properties.brand }}"
                    $(".bbb").html(brand);
                    $(document).ready(function() {
                        $('#button_add_cart').click(function(){
                        GIHhtQfW_AtmPixel('infoshina.com.ua/to_cart.html');
                        });
                    });
                    $('.js-tabs-{{ product.pk }}').tabs();
                </script>
            {% endfor %}
            <script type="text/javascript">
                {% if product.get_category.slug == "shiny" and product.slug in request.path %}
                $(function(){
                    // var properties_set = new Set();
                    var properties = {};
                    $('.filtered-product-variant').each(function(){
                        // properties_set.add(this.id);
                        properties[this.id] = this.id;
                    });
                    // var properties_arr = new Array();
                    // for(var property of properties_set.values()){
                    //     properties_arr.push(property);
                    // }
                    // properties_arr.sort()
                    var properties_arr = Object.keys(properties);
                    $('#variants-filter').append($('<option>', {value: 'Любой'}).text('Любой'));
                    for(var i=0; i < properties_arr.length; i++){
                        $('#variants-filter').append(
                            $('<option>', {value: properties_arr[i]}).text(properties_arr[i])
                        );
                    }
                    var $diameters = $('.tabs .diametr')

                    $('#variants-filter').change(function(){
                        var filter = $('#variants-filter option:selected').val();
                        $diameters.removeClass('filter-hide');
                        $('.filtered-product-variant').removeClass('filter-hide');
                        if(filter != 'Любой'){
                            var reselect_tab = false;
                            $('.filtered-product-variant').not("[id='" + filter +"']").addClass('filter-hide');
                            for(var i=0; i<$diameters.length; i++){
                                var hidden_diameters = $('.filtered-product-variant.filter-hide.'+$($diameters[i]).data('diametr').replace('.', '\\.')).length;
                                var all_diameters = $('.filtered-product-variant.'+$($diameters[i]).data('diametr').replace('.', '\\.')).length;
                                if(hidden_diameters == all_diameters){
                                    $($diameters[i]).addClass('filter-hide');
                                    if($($diameters[i]).hasClass('ui-tabs-active')){
                                        reselect_tab = true;
                                    }
                                }
                            }
                            if(reselect_tab){
                                $diameters.not('.filter-hide').first().children().click();
                            }
                        }
                    });
                })
                {% endif %}
            </script>
        </div>
    {% endif %}
{% endif %}