{% load i18n lfs_tags sshop_tags %}
{% load url from future %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/sets_of_products.css' %}">

{% if not ajax %}
<noindex>
    <div id="sets-of-products-{{ portlet_hash }}" class="sets_of_products">
    </div>
</noindex>
{% endif %}

{% if sets %}
<div  class="sets_of_products_back">
<div class="portlet sets-of-products-portlet">
    <div class="portlet-header">
        <h4><p>{{ portlet_title }}</p></h4>
    </div>
    <div class="portlet-body">
        {% for set, set_price in sets %}
        <h4 class="text-center">{{ set.text|safe }}</h4>
        <table class="portlet-item" cellpadding="10">
        <tr>
        {% for element in set.set_items.all %}
            <td class="set-item">
                <div class="product-data">
                    <input type="hidden" class="set-item-value" id="set-item-{{ set.id }}-{{ forloop.counter }}-{{ portlet_hash }}" amount="{{ element.amount }}" product_id="{{ element.obj.id }}">
                    <div class="product-image">
                        <a title="{{ element.obj.name|lower }}"  href="{{ element.obj.get_absolute_url }}">
                            {% if element.obj.get_image.image.url_200x200 %}
                                <img alt="{{ element.obj.name|lower }}"  title="{{ element.obj.name|lower }}" src="{{ element.obj.get_image.image.url_200x200 }}" />
                            {% else %}
                                <img alt="{{ element.obj.name|lower }}" title="{{ element.obj.name|lower }}" src="{{ STATIC_URL }}img/200x200.gif" />
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <div class="product-title">
                            <a title="{{ element.obj.name|lower }}"  href="http://{{request.get_host}}{{ element.obj.get_absolute_url }}">
                                {{ element.obj.get_name }}
                            </a>
                        </div>
                    </div>

                    <div class="product-price">
                        {{ element.amount }} x 
                        <span class="label label-info price">{% price element.obj %}</span>
                    </div>
                </div>
            </td>
            {% if not forloop.last %}
            <td>
                <div class="product-data">
                    <span class="bold-text">+</span>
                </div>
            </td>
            {% else %}
            <td>
                <div class="product-data">
                    <span class="bold-text">=</span>
                </div>
            </td>
            <td class="set-price">
                <div class="product-data">
                    <span class="red-text savings savings-price">
                        {% trans "Экономия" %}
                        {% format_as_price set_price.discount %}
                    </span>
                    <span class="text-through full-price">
                        {% format_as_price set_price.full_price %}
                    </span>
                    <span class="discount-price">
                        {% format_as_price set_price.discount_price %}
                    </span></br>
                    <div>
                        <button class="btn btn-primary emphasized add-set-to-cart">
                         {% trans 'Купить комплект' %}
                        </button>
                    </div>
                </div>
            </td>
            {% endif %}
        {% endfor %}
        </tr>
        </table>
        {% endfor %}
    </div>
</div>
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}

    $('.add-set-to-cart').live('click', function(){
        items = $(this).parents('.portlet-item').find('.set-item-value')
        data = {}
        items.each(function(index, item){
            item = $(item)
            data[item.attr('product_id')] = item.attr('amount')
        });
        $.ajax({
            url: "{% url 'add_set_to_cart' %}",
            type:"POST",
            data: data,
            success: function(data){
                mediator.publish('show_modal_cart', data)
            }
        });
    });
</script>
{% endif %}

{% if init %}
 <script type="text/javascript">
      var obj = $('#sets-of-products-{{ portlet_hash }}')
      data = {
        'products_set_ids': '{{ products_set_ids }}',
        'template': '{{ set_of_products_portlet.template }}',
        'slot_name': '{{ slot_name }}',
        'portlet_title': '{{ set_of_products_portlet.title }}',
        'product_id': '{{ product_id }}',
      }
      $.ajax({
          url: "{% url 'ajax_products_set_render' %}",
          type: 'POST',
          dataType: "json",
          data: data,
          success: function(msg){
              obj.html(msg['html'])
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}