{% load mptt_tags %}
        {% for top_category in categories %}
        {% if not top_category.exclude_from_navigation %}
            <li id="cat_{{ top_category.id }}" class="main-category">     
               <a href="http://{{request.get_host}}{% url lfs_category top_category.slug %}" 
                {% if request.path == top_category.get_absolute_url  %} class="active" {% endif %} ><span>{{ top_category.name }}</span></a>
            </li>
        {% endif %}
{% endfor %}