{% load i18n %}
<div class="row-fluid cart_block">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div class="row-fluid">
    <div class="span2">
        <div class="img_cart"></div>
    </div>
    <div class="span10 empty">
        <p>{% trans "Cart is empty." %}</p>
    </div>
    </div>
</div>
{# -------========== NEW YEAR ==========------------  #}
    <div class="row-fluid cart_btn {# new-year-btn #}">
        <div class="span12">
            <a title="оформить заказ" class="cart-btns" href="http://{{request.get_host}}{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    {% else %}
    <div class="span2">
        <div class="img_cart"></div>
    </div>
    <div class="span3 count">
        <p>{{ amount|floatformat  }} </p>
    </div>
    <div class="span7 summ">
        <p>{{ total_price|floatformat:"0" }} {{ SHOP.default_currency.abbr }}</p>
    </div>
    </div>
    <div class="row-fluid cart_btn {# new-year-btn #}">
        <div class="span12">
            <a title="оформить заказ" class="cart-btns" href="http://{{request.get_host}}{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    {% endif %}
    {% endwith %}

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
