{% load i18n lfs_tags sshop_tags %}
{% load url from future %}
{% load recommended_products_tags %}
<br><br>
<table class="cart" style="width:100%">
    {% for cart_item in cart_items %}
    <tr class="cart-item" data-id="{{ cart_item.obj.product.id }}">
        <td class="image" rowspan="3">
            <a href="{{ cart_item.product.get_absolute_url }}">
                {% if cart_item.product.get_image.image %}
                <img src="{{ cart_item.product.get_image.image.url_small }}"
                     alt="{{ cart_item.product.get_name }}" class="thumbnail cart-image" width="60px" height="60px"/>
                {% else %}
                    <img alt="{{ cart_item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail cart-image" />
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{{ cart_item.product.get_absolute_url }}">
                <span class="{% if cart_items_changed and not cart_item.product.status.show_buy_button %}cart-item-changed{%endif%}">{{ cart_item.product.get_name }}</span>
            </a>
        </td>
        <td>
            <a href="#"
                name="cart-item_{{ cart_item.obj.id }}"
                title="{% trans 'Delete item' %}"
                class="delete-button delete-checkout-cart-item pull-right"><i class="icon-trash"></i></a>
        </td>
    </tr>
    <tr>
        <td>{{ cart_item.product.get_id }}</td>
        <td>

        </td>
    </tr>
    <tr>
        <td class="number">
            {% format_as_price cart_item.product_price %} x
            {% if cart_readonly %}
            {{ cart_item.quantity }}
            {% else %}
            <input class="number checkout-cart-amount input-mini"
                    type="text"
                    name="amount-cart-item_{{ cart_item.obj.id }}"
                    id="cart-item_{{ cart_item.obj.id }}"
                    size="6"
                    value="{% if cart_items_changed and not cart_item.product.status.show_buy_button %}0{% else %}{{ cart_item.quantity }}{% endif %}" />
            {% endif %}
        </td>
        <td class="number pull-right {% if cart_items_changed and not cart_item.product.status.show_buy_button %}changed-cart-item{% endif %}">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price cart_item.product_price_total selected_payment_method %}</strong> ({% format_as_price cart_item.product_price_total %})
            {% else %}
            {% format_as_price cart_item.product_price_total %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}

    {% for discount in discounts %}
    <tr>
        <td></td>
        <td>{{ discount.name }}&nbsp;
        {% if discount.value %}
            {% if discount.is_absolute %}
                <span class="pull-right">{% format_as_price discount.price|negate %}</span>
            {% else %}
                <span class="pull-right">{{ discount.value|negate }} %</span>
            {% endif %}
        {% endif %}
        </td>
        <td class="number pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price discount.price|negate selected_payment_method %}</strong>
                        ({% format_as_price discount.price|negate %})
                    {% else %}
                        {% format_as_price discount.price|negate %}
                    {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% if cart_items_changed %}
    <script type="text/javascript">
        $(function(){
            $('#sshop-modal .modal-body').html("Некоторых товаров в Вашей корзине нет в наличии");
            $('#sshop-modal .modal-footer .btn-success').html("Продолжить оформление заказа");
            $('#sshop-modal').modal("show");
            var changedCartItemsPrices = 0; 
            $('.changed-cart-item').each(function(){
                var cartItemPrice = '0';
                if($(this).find('strong').length){
                    cartItemPrice = $(this).find('strong').text().trim().split(' ');
                    $(this).find('strong').text('0' + cartItemPrice[1]);
                }
                else{
                   cartItemPrice = $(this).text().trim().split(' ');
                   $(this).text('0 ' + cartItemPrice[1]);
                }
                changedCartItemsPrices += parseInt(cartItemPrice[0]);
            });
            if($('.cart-total-price').find('strong').length){
                var cartTotalPrice = $('.cart-total-price').find('strong').text().trim().split(' ');
                var num = parseInt(cartTotalPrice[0]) - changedCartItemsPrices;
                $('.cart-total-price').find('strong').text(num.toString() + ' ' + cartTotalPrice[1]);
            }
            else{
                var cartTotalPrice = $('.cart-total-price').text().trim().split(' ');
                var num = parseInt(cartTotalPrice[0]) - changedCartItemsPrices;
                $('.cart-total-price').text(num.toString() + ' ' + cartTotalPrice[1]);
            }
        });
    </script>
    {% endif %}
</table>
<table style="width:100%;margin:20px 0;">
    {% if shipping_price > 0 %}
    <tr class="shipping-method">
        <td>
            {% trans 'Shipping' %} ({{ selected_shipping_method.name }})
        </td>
        <td class="number pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price shipping_price selected_payment_method %}</strong> ({% format_as_price shipping_price %})
            {% else %}
            {% format_as_price shipping_price %}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if payment_price > 0 %}
    <tr>
        <td>
            {% trans 'Payment' %} ({{ selected_payment_method.name }})
        </td>
        <td class="number pull-right">
                {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                <strong>{% format_as_payment_price payment_price selected_payment_method %}</strong> ({% format_as_price payment_price %})
                {% else %}
                {% format_as_price payment_price %}
                {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
{# Voucher #}
{% if show_voucher and not cart_readonly %}
{% if not display_voucher %}<a id="show_voucher" class="btn btn-red">{% trans "Add voucher" %}</a>{% endif %}
<div class="js-try-voucher">
    <div {% if not display_voucher %}style="display:none;" class="hidden"{% endif %} id="div_voucher">
        <input data="{% url 'lfs_check_voucher' %}"
               type="text"
               id="voucher"
               name="voucher"
               value="{{ voucher_number }}"
               size="30" />
        <a href="#" id="voucher_check" class="btn btn-red">{% trans "Apply" %}</a>
        {% if voucher_number and voucher_message %}
            <br><br>
            {% if voucher_value == 0 %}
            <div class="alert alert-error">
                {{ voucher_message }}
            </div>
            {% else %}
            <table style="width:100%" class="voucher-is-active">
                <tr>
                    <td>
                    {{ voucher_group }}
                    </td>
                    <td class="number pull-right">
                    {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                    <strong>{% format_as_payment_price voucher_value|negate selected_payment_method %}</strong>
                            ({% format_as_price voucher_value|negate %})
                        {% else %}
                            {% format_as_price voucher_value|negate %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
<hr>
<table style="width:100%">
    <tr>
        <td class="total number padding-top">
            {% trans 'Total' %}:
        </td>
        <td class="pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <div class="cart-total-price">
                <strong>{% format_as_payment_price cart_price selected_payment_method %}</strong> ({% format_as_price cart_price %})
            </div>
            {% else %}
            <div class="cart-total-price">
                {% format_as_price cart_price %}
            </div>
            <script>
                $(document).ready(function(){
                    var totalPriceChecout = parseInt("{% format_as_price cart_price %}");
                    if(totalPriceChecout > 999999){
                        $('#sumbit_order').unbind().addClass('modal-link');
                        $('.modal-body').html('<p class="fz16"> Превышена максимальная сумма заказа. Для оформления заказа свяжитесь с нашим менеджером.</p>');
                        // update_checkout();
                    }
                    else{
                        $("#sumbit_order").click(function() {
                          var is_valid;
                          $("#sumbit_order").unbind('click');
                          $('.help-block.error, .alert.alert-error').remove();
                          $('.error').removeClass('error');
                          is_valid = true;
                          $('.required_input').each(function(i, el) {
                            if ((el.value !== "undefined" && el.value.length === 0) || el.value === "undefined") {
                              is_valid = false;
                              $(el.parentElement.parentElement).addClass('error');
                              $(el.parentElement).append('<p class="help-block error">Поле обязательно к заполнению.</p>');
                            }
                            return true;
                          });
                          if (is_valid) {
                            $('.checkout-form').submit();
                            mediator.publish('submit_order');
                          } else {
                            $('.checkout-form').parents('div:eq(1)').prepend('<div class="alert alert-error">Операция не может быть выполнена, так как есть одна или несколько ошибок. Пожалуйста, повторите отправку формы после исправления следующих полей:</div>');
                            $('html').animate({
                              scrollTop: 0
                            }, 'slow');
                            $('body').animate({
                              scrollTop: 0
                            }, 'slow');
                          }
                          return false;
                        });
                    }
                });
            </script>
            {% endif %}
            </div>
        </td>
    </tr>
</table>
{% recommended_products_in_cart %}
<script type="text/javascript">
$('.checkout-cart-amount').change(function(){
    mediator.publish('change_amount_cart_item');
})
$('.delete-checkout-cart-item').click(function(){
    mediator.publish('remove_cart_item');
})

$('#show_voucher').click(function(){

    $('#div_voucher').toggleClass('hidden')
    $('#div_voucher')[0].style.display = ""
    $('#show_voucher').remove()
})

$('#voucher_check').click(function() {
    $('.js-try-voucher').loadOverStart();
    var url = $('#voucher').attr("data");
    var voucher = $('#voucher').attr("value");
    $.post(url, { "voucher" : voucher }, function(data) {
        $('.js-try-voucher').loadOverStop();
        update_html(data);
    });
    return false;
})

</script>