{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}
{% load url from future %}
{% load bootstrap_toolkit loginza_widget %}

{% block title %}
    {% trans 'Checkout' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Checkout") %}
{% endblock %}

{% block wrapper %}
    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}
    <h3>{% trans "Order checkout" %}</h3>
    <ul class="nav nav-tabs">
        <li>
            <a href="{% url 'lfs_checkout' %}">{% trans 'New customer' %}</a>
        </li>
        <li class="active">
            <a href="{% url 'lfs_checkout_authorization' %}">{% trans "I'm old customer" %}</a>
        </li>
    </ul>
    <div class="row-fluid block_white">
    <div class="span6">
        <div class="login">
        <h3 class="authenticate">{% trans 'Login' %}</h3>

        <form class="authenticate form-horizontal"
              action="{% url 'lfs_checkout_authorization' %}"
              method="post">
            {% csrf_token %}

            {{ login_form|as_bootstrap:"horizontal" }}
            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{% url 'lfs_checkout' %}" />

            {% loginza_iframe %}
            <div class="form-actions">
            <button type="submit"
                    name="login_submit"
                    class="btn btn-primary">{% trans 'Login' %}</button>
            <a class="pull-right" href="{% url 'lfs_password_reset' %}">{% trans 'Forgot password?' %}</a>
            </div>
        </form>
        </div>
    </div>
    <div class="span6">
        {# Cart #}
        <div id="cart-inline">
            {{ cart_inline }}
        </div>
    </div>
    </div>
{% endblock %}
