{% if is_paginated %}
{% load infoshina_theme_tags %}
{% load i18n %}
<div class="pagination">
    <ul>
    {% if page_obj.has_previous %}
        <li class="prev">
        {% if page_obj.previous_page_number == 1 %}
            <a href="{{ request.path }}{{ getvars|replace_amp }}{{ hashtag }}">{% trans "<" %}</a>
        {% else %}
            <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">{% trans "<" %}</a>
        {% endif %}
        </li>
    {% else %}
        <li class="prev disabled"><a href="{{ request.path }}">{% trans "<" %}</a></li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active">
                {% if not page == 1  %}
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                {% else %}
                <a href="{{ request.path }}{{ getvars|replace_amp }}{{ hashtag }}">{{ page }}</a>
                {% endif %}
                </li>
            {% else %}
        {% if not page == 1 %}
            <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page" title="{{ page|lower }}">{{ page }}</a></li>
        {% else %}
            <li><a href="{{ request.path }}{{ getvars|replace_amp }}{{ hashtag }}" class="page" title="{{ page|lower }}">{{ page }}</a></li>
        {% endif %}
            {% endifequal %}
        {% else %}
            <li class="disabled"><a href="#">...</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">{% trans ">" %}</a></li>
    {% else %}
        <li class="next disabled"><a href="#">{% trans ">" %}</a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
