{% load properties_tags infoshina_theme_tags %}
{% if products %}
<div class="portlet">
	<div class="portlet-header">
		<h4>{{ title }}</h4>
    </div>
    <ul class="unstyled">
	    {% for p in products|sorted_by_manufacturer %}
	        <li><a href="http://{{request.get_host}}{{ p.1.get_absolute_url }}" title="{{p.0|lower}}">{{ p.0 }}</a></li>
	    {% endfor %}
	</ul>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}