{% load properties_tags %}
{% load infoshina_theme_tags %}
{% if products %}
<div class="portlet slider1 parent_product">
	<div class="portlet-header">
     	<h4><p>{{ title }}</p></h4>
    </div>
     <a href="#" class="btn-prev" title="назад">назад</a>
     <a href="#" class="btn-next" title="вперед">вперед</a>
    <div class="mask">
	<ul class="unstyled">
        {% for p in products %}
                <li>
                    <div class="portlet-item item">
                        <div class="image-wrapper">
                            {% if p.get_image %}
                            <a href="{{ p.get_absolute_url }}" title="{{ p.name|lower }}"> 
                                <img alt="{{ p.name|lower }}" title="{{ p.name|lower }}"  src="{{ p.get_image.image.url_200x200 }}" />
                            </a>
                            {% else %}
                            <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ p.get_image.title|lower }}" title="{{ p.get_image.title|lower }}"
                            class="product-image" />
                            {% endif %}                
                        </div>
                        <div class="product-title">
		                	<a href="http://{{request.get_host}}{{ p.get_absolute_url }}" title="{% if p.has_variants %}{{ p.manufacturer.name|lower }} {% property_for_product p.get_variants.all.0 'model' %}{% else %}{{p.name|lower}}{% endif %}">
		                		{% if p.has_variants %}{{ p.name|tetradka_replace_words }}{% else %}{{p.name}}{% endif %}
		                	</a>
                        </div>
                    </div>
                </li>
    	{% endfor %}
	</ul>
	</div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}