<div id="step-by-step-{{ portlet_id }}" class="wrap_step_by_step">
    {{ step_by_step_form|safe }}
</div>

<script type="text/javascript">
$(document).ready(function() {
	initCustomForms();
    reload_stepbystep_form($("#step-by-step-{{ portlet_id }} select"), {{ portlet_id }}, "{{ portlet_model }}");
}); 
</script>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>