<div id="step-by-step-recommend">
    <h1>{{ category.name }} для автомобиля {{ step_item.name }}</h1>
    <div>
        {% for key,value in data.items %}
            <p>{{ key.name }}: {% for i in value %}{% with "/"|add:i.filter_url as t %}<a href="/{{ i.filter_url }}" {% if t == request.path %}style="background-color:#0080FF; color:#FFFFFF; opacity: 0.7;border-radius:3px;"{% endif %}{% endwith %}>{{ i.caption }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% endfor %}
    </div>
    <div>
        {% if step_item.image %}<img src="{{ step_item.image.url }}" />{% endif %}
        <p>{{ step_item.description }}</p>
    </div>
</div>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
