{% extends "lfs/base.html" %}
{% load i18n %}
{% block google-analytics %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43783140-1']);
  _gaq.push(['_trackPageview', '/404.html?page=' + document.location.pathname + document.location.search + '&from;=' + document.referrer + '&etype;=missingcategory]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script id="CrossssGoScr" type="text/javascript">(function(){var f = function(){var s = document.createElement("script");document.getElementsByTagName("HEAD")[0].appendChild(s);s.type="text/javascript";s.async=true;s.src="http://crossss.com/crossssInfo.aspx?id=355";};if (navigator.userAgent.toLowerCase().indexOf("opera")!=-1){document.addEventListener("DOMContentLoaded",f,false);}else{f();} })();
</script>
{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
  <div class="page-404-wrapper">
    <div class="page-404-text">
      <h1>
          {% trans 'We are sorry!' %}
      </h1>
      <p>
          {% trans 'The page you have requested could not be found.' %}
      </p>
    </div>
    <div class="redirect-text-wrapper">
        <p> Для того, чтобы вернуться на сайт пройдите по ссылке <a href="/">{{ request.get_host }}</a></p>
    </div>
  </div>
{% endblock %}
