{% extends "lfs/base.html" %}
{% load i18n %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
<div class="error-page">
	<div class="error-text-wrapper">
		<h1>
		    {% trans 'We are sorry!' %}
		</h1>
		<p>
		    {% trans 'An error has occured. Please try again in a minute.' %}
		</p>
	</div>
	<div class="redirect-text-wrapper">
		<p> Для того, чтобы вернуться на сайт пройдите по ссылке <a href="/">{{ request.get_host }}</a></p>
		<p> Через <span id="timer">7</span> секунд вы будете перенаправлены автоматически </p>
	</div>
</div>
<script type="text/javascript">

var secondsLabel = document.getElementById("timer");
var totalSeconds = 7;
timer = setInterval(setTime, 1000);

function setTime()
{
    --totalSeconds;
    if(totalSeconds===0){
    	window.location.href = '/';
    	clearInterval(timer);
    }
    secondsLabel.innerHTML = totalSeconds;
}
</script>
{% endblock %}
