{% load i18n %}
{% if filter.options %}
<p class="filter-title">{{ filter.title }}</p>

<div class="filter-options">    
{% for option in filter.options %}
    {% if option.quantity %}
    <div class="filter_option" popular="{{ option.is_popular }}">
        {% if filter.show_as_tree %}
            {# TODO: add css class for margin-top:5px #}
            <i class="icon-plus pull-left filter_show_children" style="margin-top:5px" id="{{ option.id }}"></i>
        {% endif %}
        <label>
        <input type="checkbox"
        class="filter_10"
        name="f{{ filter.identificator }}" 
        value="{{ option.identificator }}"{% if option.checked %} checked{% endif %}> {{ option.title }}
        {% if show_filter_counters %}
            {% if not option.checked %}
                ({{ option.quantity }})
            {% else %}
                +{{ option.quantity }}
            {% endif %}
        {% endif %}
        {% if option.checked %} 
            <script type="text/javascript"> 
                $('.filter-portlet-form').toggleClass('{{ option.identificator }}');
            </script>
        {% endif %} 
        </label>
        {% if filter.show_as_tree %}
            {# TODO: add css class for margin-left:30px; #}
            <div id="children-{{ option.id }}" style="margin-left:30px;"></div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
</div>
{% if filter.show_all_options %}
    <a id="{{ filter.id }}" class="load_all_options">{% trans "Show all" %}</a>
{% endif %}
{% endif %}