{% load i18n %}
{% if filter.options %}

<div class="filter-options">    
    <select class="span12 filter_5" name="{{ filter.identificator }}">
    <option value="none">{{ filter.title }}</option>    
    {% for option in filter.options %}
    {% if option.quantity %}
    <option value="{{ option.identificator }}"
    {% if option.checked %} selected="selected"{% endif %}>{{ option.title }}
    </option>
    {% endif %}
    {% endfor %}
    </select>
</div>
{% endif %}