{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load infoshina_theme_tags %}
{% load price_tracking_tags %}
{% load lfs_portlets_tags %}{% load video_tags %}
{% load reviews_with_chains_tags %}

        {# {% load share_widget %} #}
        {# {% share_us_widget %} #}

{% if product.parent %}
<div class="row-fluid">
<div class="span12">
<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span9">
    </div>
    <span style="display:none" itemprop="name">{{ product.get_name }}</span> 

    <div class="span3" itemprop="aggregateRating">{% rwc_average_rating_for_instance product %}</div>
    <span style="display:none" itemprop="itemCondition">{{product.status.name}}</span>
</div>

<div class="row-fluid product-detail">
    {# Images #}
    <div class="span4 product_left_block">
        <div class="row-fluid">
            <div class="span6">
                {# Prices #}
                
                <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {% if product.is_product_with_variants %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                        {% cheapest_price product %}
                    </span>
                    </div>                
                {% else %}
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %}</span>
                    <meta itemprop="price" content="{{ product.price }}" />
                    <meta itemprop="priceCurrency" content="{{ currency.code }}" />
                    </div>
                {% endif %}
                {% endif %}
                </div> <!-- prices -->
                {% price_tracking_button %}
                <div class="row-fluid">
                    <div class="span12">
                        <a id="notebook_{{ product.id }}" class="notebook-icon" href="javascript:notebook_add_product({{ product.id }})">Добавить в избранное</a>
                    </div>  
                </div>

            </div>
            <div class="span6 col">
                <div class="product-quantity count pull-left">
                    <span class="spin-prev" value="less"></span>
                    <span class="spin-next" value="more"></span>
                    <input min="1" class="number quantity input-small" 
                        name="quantity" 
                        size="3" 
                        type="number"
                        value="4" />
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                    {% include variants_display_type_template %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 socials">
                <span class="pull-left">Поделиться:</span>
                <script type="text/javascript" src="//yandex.st/share/share.js"
                    charset="utf-8"></script>
                <div class="yashare-auto-init pull-right" data-yashareL10n="ru"
                data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div> 
            </div>
        </div>
    </div>

    <div class="span8">
        <div class="row-fluid">
            <div class="span7  product-img-wrapper">
                {% if product.get_image %}
                    <a href="{{ product.get_image.image.url_huge }}" class="product-detail-lightbox colorbox product-image"
                    rel="colorbox" title="{{ product.get_name|lower }}">
                    {% badges_for_product product %}
                    <img src="{{ product.get_image.image.url_huge }}"
                         title="{{ product.get_name|lower }}"
                         alt="купить {{ product.get_name|lower }}"
                         class="product-image thumbnail"
                         itemprop="image" />
                    </a>
                {% else %}
                    <img src="{{ STATIC_URL }}img/400x400.gif" title="{{ product.get_name|lower }}" alt="купить {{ product.get_name|lower }}"
                    class="product-image" />
                {% endif %}
                {% if product.get_sub_images %}
                <div class="vertical-slider">
                    <ul class="thumbnails main-product">
                        {% for image in product.get_sub_images %}
                        <li>
                            <a href="{{ image.image.url_huge}}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

        <div class="span5">
        {% if not product.is_product_with_variants %}
            <div class="row-fluid">
                <ul class="property_value">
                    {% if product.get_category.slug == "diski" %}  
                    <li>
                        Диаметр: 
                        <span>{% property_for_product product "diametr" %}</span>
                    </li>
                    <li>
                        Ширина диска: 
                        <span>{% property_for_product product "shirina-diska" %}</span>
                    </li>
                    {% else %}
                    <li>
                        Сезон: 
                        <span>{% property_for_product_custom product 'sezon' %}</span>
                    </li>
                    <li>
                        Тип авто: 
                        <span>{% property_for_product_custom product 'tip-avtomobilya' %}</span>
                    </li>
                    {% endif %}
                    <a href="#properties" title="все характеристики">все характеристики</a>
                </ul>
            </div>
        {% endif %}
            <div class="row-fluid">
                {% static_block "delivery" %}
            </div>
        </div> 
        </div>
    </div> 
    <div class="short-description">
        <meta itemprop="description" content="{{ product.get_short_description|safe}}" />
        <meta itemprop="model" content="{% property_for_product product 'model' %}" />
        <meta itemprop="brand" content="{{ product.manufacturer }}" />
    </div>

</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />


{% comment %}
<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>
{% endcomment %}
</div>

{# Variants #}

</form>
<div class="row-fluid">
    <div class="span12">
    {% lfs_portlet_slot 'set' %}
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span12">
               {% static_block "product_info" %}
            </div>
        </div>
        {% if product.description %}
            <div class="description">
                <div class="header_wave">
                     <h4><p>Описание</p></h4>
                </div>
                {{ product.description|safe}}
            </div>
        {% endif %}
              {% lfs_portlet_slot 'esender-on-product' %}
            <div id="video">
                {% video_list_not_at_gallery product.id %}
            </div>
        <div class="variant-reviews">
            {% reviews_with_chains product.parent 0 %}
        </div>
    </div>
    <div class="span4 left_block_properties">
        <div id="properties">
            {{ global_properties|safe }}
        </div>
        <div class="product_news">
            {% lfs_portlet_slot 'product_news' %}
        </div>
        {% static_block "Need_help" %}
    </div>
</div>
{# {% if not product.is_product_with_variants %} #}
    <div class="row-fluid">
        <div class="span12">
            {% lfs_portlet_slot 'product_3' %}
        </div>
    </div> 
{# {% endif %} #}
<div class="row-fluid">   
    <div class="span12">
        {% lfs_portlet_slot 'product' %}
    </div>
</div>
<div class="row-fluid wrap_variant_carousel">   
    <div class="span12 variant_carousel">
        
    </div>
</div>
<div class="row-fluid recent-products-portlet_w">   
    <div class="span12">
        {% lfs_portlet_slot 'product_2' %}
    </div>
</div>
{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                    {{ attachment.title}}
                    </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</div>
</div>
{% else %}
<div class="row-fluid">
<div class="span12">
<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form" method="post">
{% csrf_token %}

<div class="row-fluid product-detail">
    {# Images #}
    <div class="span6  product-img-wrapper product_left_block">
        <div class="row-fluid">
        {% if not product.is_product_with_variants %}
            <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                  {% cheapest_price product %}
                </span>
            </div>  
        {% endif %}
            {% if product.get_image %}
                <a href="{{ product.get_image.image.url_huge }}" class="product-detail-lightbox colorbox product-image"
                rel="colorbox" title="{{ product.get_name|lower }}">
                {% badges_for_product product %}
                <img src="{{ product.get_image.image.url_huge }}"
                     title="{{ product.get_name|lower }}"
                     alt="купить {{ product.get_name|lower }}"
                     class="product-image thumbnail"
                     itemprop="image" />
                </a>
            {% else %}
                <img src="{{ STATIC_URL }}img/400x400.gif" title="{{ product.get_name|lower }}" alt="купить {{ product.get_name|lower }}"
                class="product-image" />
            {% endif %}
            {% if product.get_sub_images %}
            <div class="vertical-slider">
                <ul class="thumbnails main-product">
                    {% for image in product.get_sub_images %}
                    <li>
                        <a href="{{ image.image.url_huge }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                            <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="span6">
    <div class="row-fluid product-toolbar">
        <div class="span12">
        </div>
    </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    {% if product.is_product_with_variants %}
                        <div class="row-fluid rating-on-model">
                            <div class="span12">
                                {% rwc_average_rating_for_instance product %}
                            </div>
                        </div>
                         <div class="product-price pull-left">
                            <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                              {% cheapest_price product %}
                            </span>
                        </div> 
                        <div class="count-variants pull-right">
                            Размеров: {% correct_variants_count product %} 
                        </div>
                    {% endif %}
                </div>

                {% if not product.is_product_with_variants %}
                    <div id="properties">
                        {{ global_properties|safe }}
                    </div>
                {% else %}
                    <div class="row-fluid">
                        <div class="span12">
                            <a id="notebook_{{ product.id }}" class="notebook-icon" href="javascript:notebook_add_product({{ product.id }})">Добавить в избранное</a>
                        </div>  
                    </div>
                    <div class="row-fluid">
                        <a class="btn choose-size">Выбрать размер</a>
                    </div>
                    {# {% property_value_icons product %} #}
                    <div class="row-fluid icons-property_model">
                        <li class="span6">
                            <span>{% property_value_icon product 'sezon' %}</span>
                            <span> {% property_for_product_custom product 'sezon' %}</span>
                        </li>
                        <li class="span6">
                            <span>{% property_value_icon product 'tip-avtomobilya' %}</span>
                            <span>{% property_for_product_custom product 'tip-avtomobilya' %}</span>
                        </li>
                    </div>
                {% endif %}
                {% comment %}
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/notebook" class="to-notebook"></a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div>{% average_for_instance product %}</div>
                    </div>
                {% endcomment %}
                {% if product.is_product_with_variants %}
                    <div class="row-fluid">
                        <div class="span12 description-model-wrapper">
                            <a class="description-model">Описание товара</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        <div class="span6">
            <div class="row-fluid">
                {% static_block "delivery" %}
            </div>
        </div> 
        </div>
    </div> 
        <div class="short-description">
            <meta itemprop="description" content="{{ product.get_short_description|safe}}" />
            <meta itemprop="model" content="{% property_for_product product 'model' %}" />
            <meta itemprop="brand" content="{{ product.manufacturer }}" />
        </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />


{% comment %}
<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>
{% endcomment %}
</div>

{# Variants #}

</form>
<div class="row-fluid">
    <div class="span12">
        {% if product.is_product_with_variants or product.is_variant %}
        <div id="product-variants">
            {% include variants_display_type_template %}
        </div>
        {% endif %}
    </div>
</div>
<div class="row-fluid"> 
    <div class="span12">
        {% if product.description %}
            <div class="description">
                <div class="header_wave">
                     <h4><p>Описание</p></h4>
                </div>
                {{ product.description|safe}}
            </div>
        {% endif %}
            {% lfs_portlet_slot 'esender-on-model-product' %}
    </div>
</div>
<div class="row-fluid">   
    <div class="span12">
        <div class="model-reviews">
            {% reviews_with_chains product 1 %}
        </div>
    </div>
</div>
{# {% if not product.is_product_with_variants %} #}
    <div class="row-fluid">
        <div class="span12">
            {% lfs_portlet_slot 'product_4' %}
        </div>
    </div> 
{# {% endif %}     #}
<div class="row-fluid"> 
    <div class="span12">
        {% lfs_portlet_slot 'product' %}
    </div>
</div>
<div class="row-fluid recent-products-portlet_w">   
    <div class="span12">
        {% lfs_portlet_slot 'product_2' %}
    </div>
</div>
{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                    {{ attachment.title}}
                    </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</div>
</div>
{% endif %}
<script type="text/javascript">
    $(".variant_carousel").append($(".product_variant_carousel"));
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        link = "/notebook/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В избранном");
                $("#notebook_"+product_id).attr("href", "{% url 'lfs_notebook' %}");
                if (id != undefined)
                {
                    $('#notebook')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                    page_designer.page_rebuild();
                }
                if(msg['show_modal_login']){
                    var modalHtml = $('.modal-login').html();
                    $('#sshop-modal .modal-body').html(modalHtml);
                    $('#sshop-modal').modal("show");
                }
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        link = "/comparison/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#compare").text("Перейти к сравнению");
                $("#compare").attr("href", "{% url 'lfs_comparison' %}");
                if (id != undefined)
                {
                    $('#comparison')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                    page_designer.page_rebuild();
                }
            }
        });
    };
    $(document).ready(function() {

                $('.spin-prev').click(function () {

                        var $input = $(this).parent().find('input');

                        var count = parseInt($input.val()) - 1;

                        count = count < 1 ? 1 : count;

                        $input.val(count);

                        $input.change();

                        return false;

                });

                $('.spin-next').click(function () {

                        var $input = $(this).parent().find('input');

                        $input.val(parseInt($input.val()) + 1);

                        $input.change();

                        return false;

                });

        });
</script>
<style type="text/css">
  #cboxTitle:before {
    content: '{{ product.get_name }}'; /* Добавляем перед текстом открывающую кавычку */
  }
</style>
