{% load i18n %}

{% if property_values %}
    <h3>Характеристики</h3>
    <ul class="property_value">
    {% for property_value in property_values %}
        {% if property_value.property.is_group %}

        {% else %}
        <li>
            {{ property_value.property.name }}: 
            <span>{{ property_value.value }}</span>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-info">{% trans 'У данного товара нет свойств' %}</div>
{% endif %}
