{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% load infoshina_theme_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block left-slot-wrapper %}
    {# if SlotLeft #}
        <div id="left-slot-container"> {# Class is set automatically #}
            <div class="left-slot">
                {% block left-slot %}<div class="info-menu-block"><div class="portlet"><div class="portlet-header">
            <h4><a href='/info/'>{{ info_page_name }}</a></h4>
        </div>{% insert_portlet 'scms_menuportlet' 'left'%}</div></div>{% lfs_portlet_slot 'Left' %}{% endblock %}
            </div>
        </div>
    {# endif #}
    <script>
          config.left_portlet_count++;
    </script>
{% endblock %}

{% block middle-slot %}{% endblock %}


{% block breadcrumbs %}
    {% if page %}
        <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
            </li>
            <li>
                <a href='/info/'>{{ info_page_name }}</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'scms_view_category' page_category.slug %}"> {{ page_category.name }}</a> <span class="divider">/</span>
            </li>
            <li>
                <span>{{ page.title }}</span>
            </li>
        </ul>
    {% else %}
        {% if page_category %}
            <ul class="breadcrumb" >
                <li>
                    <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
                </li>
                <li>
                    {% if page_category %}<a href='/info/'>{{ info_page_name }}</a> <span class="divider">/</span>
                </li>
                <li>
                    <span> {{ page_category.name }}</span>{% endif %}
                </li>
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
{% block product_h1 %}
{% if  page %}
    <h1>{{ page.title }}</h1>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".span12.pull-right").prepend($("h1"));
        });
    </script>
{% elif page_category %}
    <h1>{{ page_category.name }}</h1>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".info-all-news-block").prepend($("h1"));
        });
    </script>
{% endif %}
{% endblock%}
{% block content %}
<div class="span12 pull-right">
<link rel="stylesheet" type="text/css" href="{% static 'css/info-page.css' %}">
    
    {% if page %}
        
        <div class="info-page-create-date">{{ page.create_date }}</div>
        <div class="info-page-full-text">
            {% if page.icon %}
                <img src="{{MEDIA_URL}}{{page.icon}}" alt="{{page.icon}}" title="{{page.icon}}">
            {% endif %}
            {{ page.text|safe }}
        </div>
        
    {% else %}
         {% if page_category %}
             <div class="info-all-news-block">
               
                {% if page_category.icon %}
                    <img class="pull-left page_category_icon" src="{{MEDIA_URL}}{{page_category.icon}}" title="{{page_category.icon}}" alt="{{page_category.icon}}">
                {% endif %}
                {% if page_category.description %}
                    <div class="page_category_description">{{ page_category.description|safe }}</div>
                {% endif %}
            {% autopaginate category_news page_category.pagination %}
            {% for n in category_news %}
            <div class="well">
                <div class="title">
                    <h4>{{ n.title }}</h4>
                </div>
                {% if n.icon %}
                    <img class="news_icon pull-left" src='{{MEDIA_URL}}{{n.icon}}' alt="{{n.icon}}" title="{{n.icon}}">
                {% endif %}
                <div class="description">{{ n.preamble|safe }}</div>
                {% if n.text %}
                    <div class="more pull-right">
                        <a href="http://{{request.get_host}}/info/{{ page_category.slug }}/{{ n.slug }}.html" title="читать дальше">{% trans 'Read more'%}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span2", "span8", "span10");
</script>
{% endblock %}