{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% load infoshina_theme_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block left-slot-wrapper %}
    {# if SlotLeft #}
        <div id="left-slot-container"> {# Class is set automatically #}
            <div class="left-slot">
                {% block left-slot %}<div class="info-menu-block"><div class="portlet"><div class="portlet-header">
            <h4><a href='/info/'>{{ info_page_name }}</a></h4>
        </div>{% insert_portlet 'scms_menuportlet' 'left'%}</div></div>{% lfs_portlet_slot 'Left' %}{% endblock %}
            </div>
        </div>
    {# endif #}
    <script>
            
            config.left_portlet_count++;
            // config.right_portlet_count--;
        </script>
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
        </li>
        <li>
            <span>{{ info_page_name }}</span>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="span12 pull-right">
    <link rel="stylesheet" type="text/css" href="{% static 'css/info-page.css' %}">
    
    <div class="info-all-news-block">
        {% autopaginate news 10 %}
            {% for n in news %}
                <div class="well">
                <div class="title">
                    <h4>{{ n.title }}</h4>
                </div>
                {% if n.icon %}
                    <img class="news_icon pull-left" src='{{MEDIA_URL}}{{n.icon}}'  alt="{{n.icon}}" title="{{n.icon}}">
                {% endif %}
                <div class="description">{{ n.preamble|safe }}</div>
                {% if n.text %}
                    <div class="more pull-right">
                    <a href="http://{{request.get_host}}/info/{{ n.category.all.0.slug }}/{{ n.slug }}.html" title="читать дальше">{% trans 'Read more'%}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        {% paginate %}
    </div>
</div>
{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span2", "span8", "span10");
</script>
{% endblock %}