<div id="wrapp-news" class="portlet">
    <div class="portlet-header">
             <h4><p>{{preview_portlet.title}}</p></h4>
             <a class="all" href="http://{{request.get_host}}/info/{{news.0.category.all.0.slug}}/" title="все советы по выбору">Все советы по выбору</a>
    </div>
    {% for n in news %}
        <div class="news">
            <div class="wrap_img">
                <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img width="56" src="{{MEDIA_URL}}{{ n.icon }}" alt="{{ n.icon|lower }}" title="{{ n.icon|lower }}"></a>
                <div class="description">
                    <p><a title="{{ n.title|lower }}" href='http://{{request.get_host}}/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a></p>
                    {% if preamble %}
                        <p>{{ n.preamble|safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>