{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
<div class="span12">
    {{reverse_portlet.title}}
    {% if related_products %}
        <h2>{% trans 'Related products' context 'reverse related data'%}</h2>
        <div id="products" class="related_products">
        <table class="table">
        {% for obj in related_products %}
            {% if obj.product.left_block %}<tr><td>{% else %}<td>{% endif %}
                <div class="product-table-item">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="product-caption"><a title="{{ obj.product.get_name }}" href="http://{{request.get_host}}{% url lfs_product obj.product.slug %}">{{ obj.product.get_name }}</a>
                            </div>
                        </div>
                        {% for property in obj.product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                    </div>
        <div class="row-fluid">
            <div class="span6">
                {% property_value_icons obj.product %}
                <a href="{% url lfs.catalog.views.product_view obj.product.slug %}">
                    {% if obj.product.get_image.image.url_400x400 %}
                        {% badges_for_product obj.product %}
                        <img class="img_product" alt="{{ obj.product.name }}" title="{{ obj.product.name }}" src="{{ obj.product.get_image.image.url_400x400 }}" />
                    {% else %}
                        <img class="no_image" alt="{{ obj.product.name }}" title="{{ obj.product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            {% if not obj.product.is_product_with_variants %}
            <div class="span6">
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ obj.product.id }}, {% url lfs_comparison %})" id="compare_{{ obj.product.id }}">{% trans "Compare" %}</a>
                </div>
                <div class="product-statuses">
                {% include 'lfs/catalog/status_description.html' with id=obj.product.id %}
                </div>
            {% if obj.product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price obj.product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price obj.product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference obj.product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price obj.product %}</span>
                </div>
            {% endif %}
            {% include 'lfs/catalog/init_buy_button.html' with id=obj.product.id %}
            </div>
            {% endif %}
        </div>
        </div>
        {% if obj.product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if related_categories %}
        <h2>{% trans 'Related categories' context 'reverse related data' %}</h2>
        <div id="categories">
            <table class="table">
            {% for row in related_categories%}
                <tr>
                {% for obj in row %}
                    <td class="category-row">
                        <h2 class="first-heading">{{ obj.product.name }}</h2>
                        {% if obj.product.get_image %}
                            <div class="category-image">
                                <a href="{% url lfs_category obj.product.slug %}" title="{{ obj.product.name }}">
                                    <img src="{{ obj.product.get_image.url_100x100 }}"
                                         alt="{{ obj.product.name }}" title="{{ obj.product.name }}" />
                                </a>
                            </div>
                        {% endif %}
                            <div class="category-description">
                                {{ obj.product.short_description|safe }}
                            </div>
                            <div class="clear details-button">
                                <a class="button emphasized"
                                   href="http://{{request.get_host}}{% url lfs_category obj.product.slug %}" title="подробнее">{% trans 'Details' %}
                                </a>
                            </div>
                        <hr>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>