{% load i18n %}
<ul class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url lfs_shop_view %}"  itemprop="url">
           <span itemprop="title">
               <i class="icon-home"></i>
            </span>
        </a>
        {% if objects %}<span class="divider"> / </span>{% endif %}
    </li>
    {% for object in objects %}
            {% if forloop.last %}
                <li itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title">
                        {{ object.name }}
                    </span>
                </li>
            {% else %}
           <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ object.url }}" title="{{object.name|lower}}" itemprop="url" >
                    <span itemprop="title">
                        {{ object.name }}
                    </span>
                </a>
                <span class="divider"> / </span>
            </li>
            {% endif %}
    {% endfor %}
</ul>
