{% extends "lfs/base.html" %}
{% load lfs_tags  %}
{% load portlets_tags %}
{% load lfs_theme_tags %}
{% load sshop_tags %}
{% load infoshina_theme_tags %}
{% load seo_data %}
{% load i18n %}

{% block section %}category{% endblock %}

    {% block title %}{% custom_title block.super %}{% endblock %}
    {% block keywords %}{% custom_keywords block.super %}{% endblock %}
    {% block description %}{% custom_description block.super %}{% endblock %}
    {% block next_and_prev %}  {% custom_prev_and_next block.super %} {% endblock %}

{% block head %}
    {% if pagination.has_prev %}
        <link rel="canonical" href="http://{{ request.get_host }}{{ pagination.url }}{{ pagination.getvars|replace_amp  }}">
    {% endif %}
    {% if request.path == request.get_full_path %}
    {% if "&" in unpacked_hr_urls %}
        {# <meta name="robots" content="noindex,follow"> #}
    {% endif %}
        {% else %}    
        {% if request.canonical_url %}
                {{ request.canonical_url|safe }}
            {% else %}
                {# <meta name="robots" content="noindex,follow"> #}
        {% endif %}
    {% endif %}
{% endblock %}
{% block product_h1 %}
{% if request.proxyattr_car %}
    <h2 class="category-caption pull-left">{% get_h1 %}</h2>
{% else %}
    <h1 class="category-caption pull-left">{% get_h1 %}</h1>
{% endif %}
{% endblock %}
{% block seo_text_new %}
    {% if request.path == request.get_full_path %}
        <div id="top-text-wrapper" style="display:none;">
            {% get_seo_text_new %}
        </div>
        {% else %} 
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="http://{{request.get_host}}"  itemprop="url">
            <span itemprop="title">
                 <i class="icon-home"></i>
            </span>     
        </a>
        <span class="divider">/</span>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="http://{{request.get_host}}/{{category.slug }}" title="{{category.name|lower}}"  itemprop="url">
            <span itemprop="title">
                {{category.name }}
            </span>
        </a>
    {% custom_breadcrumbs category %}
</ul>
{% endblock %}

{% block content %}

    <input type="hidden" id="hr_urls_templates" value="{{ hr_urls_templates }}" />
    <input type="hidden" id="unpacked_hr_urls" value="{{ unpacked_hr_urls }}" />
    <input type="hidden" id="category_slug" value="{{ category_slug }}" />
    {{ category.static_block.html|safe }}
    {{ category_inline|safe }}
<script type="text/javascript">
$(document).ready(function() {
    $(".category-caption-h1").append($(".category-caption"));
});
</script>
{% endblock %}
