{% load infoshina_theme_tags %}
{% if page_type != 'model_page' %}
	<div class='js-buy-button' data-id='{{ id }}'>
		<input type="hidden" name="page-type" value="{{ page_type }}" id="page-type-input">
	</div>
{% else %}
	<div class='js-buy-button' data-id='{{ id }}'>
		<input type="hidden" name="page-type" value="{{ page_type }}" id="page-type-input">
		{% insert_buy_button_to_all_variants %}
	</div>
{% endif %}