{% extends "lfs/base.html" %}
{% load url from future %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{# load reviews_tags #}
{% load cache %}
{% load share_widget %}
{% load properties_tags %}
{% load infoshina_theme_tags %}
{% load seo_data %}
{% block head %}
    {% if product.parent %}
        <link rel="canonical" href="http://{{ request.get_host }}{{ product.parent.get_absolute_url }}">
    {% endif %}
{% endblock head %}

{% block section %}product{% endblock %}
{% block product_h1 %}
     <h1 class="product-caption"  accesskey=""><span>{% get_h1 %}</span></h1>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="http://{{request.get_host}}"  property="v:title" itemprop="url">
           <span itemprop="title">
               <i class="icon-home"></i>
           </span>
        </a>
        <span class="divider">/</span>
    </li>
        <li itemscope  itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://{{request.get_host}}/{{product.get_category.slug }}" title="{{product.get_category.name|lower}}"  itemprop="url">
                <span itemprop="title">
                    {{product.get_category.name }}
                </span>
            </a>
            <span class="divider"> / </span>
        </li>
        {% if product.parent %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://{{request.get_host}}/{{product.get_category.slug }}/{% property_for_product_identifier product 'brand' %}" title="{{ product.manufacturer|lower}}"   itemprop="url">
                <span itemprop="title">
                    {{ product.manufacturer }}
                </span>
            </a>
            <span class="divider"> / </span>
         </li>
        {% else %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://{{request.get_host}}/{{product.get_category.slug }}/{% for product_variant in product|correct_variants|slice:':1' %}{% property_for_product_identifier product_variant 'brand' %}
        {% endfor %}" title="{{ product.manufacturer|lower }}"  itemprop="url">
                <span itemprop="title">
                    {{ product.manufacturer }}
                </span>
            </a>
            <span class="divider"> / </span>
         </li>
        {% endif %}
        {% if product.parent %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://{{request.get_host}}{% url 'lfs_product' product.parent.slug %}" title="{{ product.parent.name|lower }}"  itemprop="url">
                <span itemprop="title">
                    {{ product.parent.get_name }}
                </span>
            </a>
            <span class="divider"> / </span>
         </li>
         {% endif %}
        <li itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title">
                {{ product.get_name }}
            </span>
        </li>
</ul>
{% endblock %}

{% block content %}
    {% share_us_widget %}
    {{ product.static_block.html|safe }}
    <div itemscope class="product-inline" id="{{product.slug}}" itemtype="http://schema.org/Product">
        {{ product_inline }}
    </div>
{% if product.parent %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".product-toolbar").find('.span9').append($(".product-caption"));
        });
    </script>
{% else %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".product-toolbar").find('.span12').append($(".product-caption"));
    });
</script>
{% endif %}
{% endblock %}
