{% load i18n %}
<div class="form-inline sorting">
    <form action="{% url lfs_catalog_set_sorting %}"
          method="post">
        <select name="sorting"
                onchange="this.form.submit()">
            {% for sorting in sortings %}
            {% if sorting.name == "Распродажа" %}
            {% else %}
            <option value="{{ sorting.sortable_fields }}"
                {% ifequal sorting.sortable_fields current %}selected="selected"{% endifequal %}>
                {{ sorting.name }}
            </option>
            {% endif %}
            {% endfor %}
        </select> 
        <noscript>
            <input type="submit" value="{% trans 'Go!' %}" />
        </noscript>
    </form>
</div>
