{% extends "admin/base.html" %}
{% load admin_static i18n adminextras_tags %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}    
    {% include 'autocomplete_light/static.html' %}
{% endblock %}


{# Additional CSS includes #}
{% block extrastyle %}
{# <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.sidr.light.css' %}" media="all"> #}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.helpbar.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.extras.css' %}" media="all">
{% if singleton %}<style>.deletelink-box, .submit-row input:not(.default) {display:none;}</style>{% endif %}
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{# <script src="{% static 'vendor/jquery/jquery-1.10.2.min.js' %}" type="text/javascript"></script> #}
<script type="text/javascript" src="{% static 'admin/js/jquery.helpbar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/closable_popup.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin.extras.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.helpbar({
            ribbon_caption: "{% trans 'Help' %}",
            bar_caption: "{% trans 'P-Cart User Manual' %}",
            doc_url: "{% get_help_doc_url %}"
        });
        setTimeout(function () {
            $('tr.add-row td a').click(function(e) { window.init_add_button(); });            
        }, 1000);
    });
</script>
{% endblock %}

{# Footer links (left side) #}
{% block footer_links %}
{# <a href="/docs/" class="icon"><i class="icon-question-sign"></i>{% trans "Documentation" %}</a> #}
{% endblock %}

{% block branding %}
<img src="/static/img/light-small-logo.png" alt="P-Cart" /> {% trans "Manage" %}
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
<div class="header-content">
        <div id="header-info-messages" class="header-column icon">
        {% if request.maintenance_messages %}
        {% for m in request.maintenance_messages %}
        <div class="span12 row-fluid header-info-message">
            {% if m.type == 0 or m.type == 5 %}
                <div id="remove-notification-message" class="span1 button" onclick="delete_message({{ m.id }})">
                    &times;
                </div>
                <div class="span11 text-info-message">
                    <i class="icon-exclamation-sign" title="{% trans 'Announce' %}"></i>
                    {{ m.message|safe }}
                </div>
             {% endif %}
            {% if m.type == 15 %}
                  <div id="remove-notification-message" class="span1 button" onclick="delete_message({{ m.id }})">
                    &times;
                </div>
                 <div class="span11 text-info-message">
                    <i class="icon-exclamation-sign" title="{% trans 'Full site down' %}"></i>
                    <span class="text-warning">{{ m.message|safe }}</span>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}


{# Footer branding name (center) #}
{% block footer_branding %}
P-Cart v.{{ VERSION }}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
{% trans "Copyright &copy; 2013 P-Cart<br>Developed by 7bits and Aquaweb" %}
{% endblock %}
