{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load url from future %}

{% block wrapper %}
<div class="row-fluid">
    <div class="span3">
            {% block left-slot %}
                <div class="well" style="padding:8px 0px;">
                    <ul class="nav nav-list">
                        <li{% if page_type == "account" %} class="active"{% endif %}>
                            <a href="{% url 'lfs_my_account' %}">{% trans 'Your settings' %}</a>
                        </li>
                        <li{% if page_type == "orders" %} class="active"{% endif %}>
                            <a href="{% url 'lfs_my_orders' %}">{% trans 'Your orders' %}</a>
                        </li>
                        {% if  customer.extras.notebook|length  %}
                            <li>
                                 <a href="{% url 'lfs_notebook' %}">Избранные</a>
                            </li>
                        {% endif %}
                        <li{% if page_type == "password" %} class="active"{% endif %}>
                            <a href="{% url 'lfs_my_password' %}">{% trans 'Change password' %}</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
    </div>
        <div class="span9">    
            {% block content %}{% endblock %}
        </div>
</div>
{% endblock %}
