{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block section %}my-account{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Add email") %}
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
		<h1>{% trans "Add email" %}</h1>
		</div>

		{{ form.media }}
		<form method="post" class="form-horizontal">
		    {% csrf_token %}
		    {{ form|as_bootstrap:"horizontal" }}
		    <div class="form-actions">
		    <a class="btn" href="{% url 'lfs_my_account' %}">{% trans "Cancel" %}</a>
		    <button type="submit"
		            name="submit"
		            class="btn btn-primary">{% trans "Submit" %}</button>  
		    </div>  
		</form>
	</div>
</div>
{% endblock %}