{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load i18n %}

<script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
{% if not message %}
    <form action="/add-shop-review" method="post" class="form-vertical modal-form">
            {% csrf_token %}
            {{ form.name|as_bootstrap:"horizontal" }}
            {{ form.email|as_bootstrap:"horizontal" }}
                
            <div class="control-group controls-row{% if form.score.errors %} error{% endif %}">
                <label class="control-label">{{ form.score.label }}&nbsp;*</label>
                <div class="star-rating-wrapper pull-left">
                    <ul class="star-rating">
                      {% for score in scores %}
                          <li>
                              <a 
                                 class="rate for_{{ score.title|floatformat }}{% if score.current %}current-rating{% endif %}"
                                 title="{{ score.title }}"
                                 data="{{ score.value }}"
                                 style="z-index:{{ score.z_index }}; width:{{ score.width }}px">
                              </a>
                          </li>
                      {% endfor %}
                      <script type="text/javascript">
                          $(document).ready(function(){
                              $('.star-rating li .rate[data="5.0"]').click();
                          });
                      </script>
                  </ul>
                </div>
                {% if form.score.errors %}
                    {% for er in form.score.errors %}
                        <span class="help-inline error">{{er}}</span>
                    {% endfor %}
                {% endif %}
            </div>
                {{ form.text|as_bootstrap:"horizontal" }}
            <input type="hidden"
                   name="score"
                   id="id_score"
                   value="{{ request.POST.score }}" />

            <div class="form-actions">
                <input type="submit" class="btn btn-primary"
                       value="{% trans 'Send' %}" />
            </div>

    </form>
    <script type="text/javascript">
         if ($('#id_email').val()) {
        } else {
            $('#id_email').val('nomail@nomail.ru');
        }
    </script>
{% else %}
    {{ message }}
        <script type="text/javascript">
    window.setTimeout('$(".close").click()', 3000);
    </script>
{% endif %}