{% load url from future %}
{% load i18n %}
{% load lfs_tags %}
{% load staticfiles %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load l10n %}
{% load bootstrap_toolkit %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
{% if not ajax %}
    <div id="global_reviews" portlet_assignment_id="{{ portlet_assignment_id }}">
        
    </div>
{% endif %}
{% if global_reviews %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_reviews.css' %}">
    <section class="portlet site-reviews">
        <div class="portlet-header">
            <h4>
                <p>{{global_reviews_portlet.title}}</p>
            </h4>
                <a class="all" title="все отзывы" href="http://{{request.get_host}}{% url 'global_reviews' %}">Все отзывы</a>
        </div>
        <div class="slider3">
            <a href="#" class="btn-prev" title="назад">назад</a>
            <a href="#" class="btn-next" title="вперед">вперед</a>
            <div class="mask">
              <ul>
        {% for review in global_reviews %}
            <li>
              <span class="author">{{ review.name }}</span>
              <div class="post ">
                {% ifequal review.preamble review.text %}
                        <p>{{ review.preamble }}</p>
                    {% else %}
                        <p>{{ review.preamble }}</p>
                        <a class="more" review_id="{{ review.id }}">...</a>
                {% endifequal %}
              </div>
            </li>
        {% endfor %}
      </ul> 
      </div>
          <div class="btn-box">
                  <a href="http://{{request.get_host}}{% url 'add_shop_review' %}" class="btn modal-link blue2 btn-blue btn-popup">Добавить отзыв</a>
          </div>
    </div>
    </section>
        {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}

    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
        $('a.more').click(function(){
            var link = $(this)
            $.ajax({
              url: "/reviews/ajax-load-text/" + $(this).attr('review_id') + '/',
              dataType: "json",
              success: function(msg){
                  link.parent()[0].innerHTML = msg['html'];
              }
      });
        });
    </script>
{% endif %}
{% if init %}
  <script type="text/javascript">
      $.ajax({
          url: "{% url 'reviews_portlet_ajax' portlet_assignment_id %}",
          dataType: "json",
          success: function(msg){
              $('#global_reviews').html(msg['html'])
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}