{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags sshop_tags %}
{% load seo_data %}
{% load infoshina_theme_tags %}
{% block product_h1 %}
    <h1 class="first-heading">{% get_h1 %}</h1>
{% endblock %}

{% block section %}page{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs page %}
{% endblock %}
{% block left-slot-wrapper %}
    {# if SlotLeft #}
        <div id="left-slot-container"> {# Class is set automatically #}
            <div class="left-slot">
                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
            </div>
        </div>
    {# endif #}
{% endblock %}

{% block content %}
<div class="page-header">
        
</div>

<div>
    {{ page.body|safe }}
    {% if 'oplata-i-dostavka' in request.path %}
        {% static_block 'oplata_i_dostavka' %}
    {% endif %}
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}
    <div class="row-fluid">
    <div>
        {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".page-header").append($(".first-heading"));
});
</script>

{% endblock %}
