.apply-filter-triangle {
    border-top: 25px solid transparent!important;
    border-bottom: 25px solid transparent!important;
    top: 22px!important;
    left: 4px!important;
    margin-top: -4px;
}