#middle-slot-container.span12 .middle-slot .row-fluid h3{
    font-size: 16.5px;
}
#middle-slot-container.span12 .middle-slot .row-fluid p {
    line-height: 130%;
}
#middle-slot-container.span12 .middle-slot .row-fluid p img{
    padding: 0 15px 15px;
}
#middle-slot-container.span12 .middle-slot .row-fluid ul li{
    margin-left: 0px;
}
#middle-slot-container.span12 .middle-slot .row-fluid a{
    /*text-decoration: underline;*/
}
#middle-slot-container.span12 .middle-slot .row-fluid a:hover{
    /*text-decoration: none;*/
}
#middle-slot-container.span12 .middle-slot .row-fluid a:visited{
    color: #660074;
}
.featured-products-portlet.portlet{
    float:left;
    clear:both;
    width: 100%;
}