{% load sshop_tags %}
{% load url from future %}
{% if recommended_products %}
<div id="recommended-products-on-cart-wrapper">
    <h4><span>Рекомендуем с этими товарами</span></h4>
    <div id="recommended-products-on-cart">
        <div class="row-fluid">
            {% for product in recommended_products %}
                <div class="recommended-product-item">
                    {% if product.get_image %}
                        <div><img src="{{ product.get_image.image.url_large }}"/></div>
                    {% endif %}
                    <div class="product-title">
                        <a href="{% url 'lfs.catalog.views.product_view' product.slug %}" class="product-title">{{ product.name }}</a>
                    </div>
                    <div class="product-price">
                        <span class="label label-info price">{% price product %}</span>
                    </div>
                    <div class="row-fluid buy-button-wrapper">
                        <button class="btn button_add_to_cart modal-buy-button" data-product-id="{{ product.id }}">Добавить в заказ</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    {% if show_on_cart %}
        $(function () {

            $recommendedProducts = $('.checkout-form-wrapper > #recommended-products-on-cart-wrapper');
            if($recommendedProducts.length){
                $recommendedProducts.unbind();
                $recommendedProducts.remove();
            }
            if($('.checkout-form').length){
               var insertAfter = ".checkout-form";
           }
           else {
               var insertAfter = ".row-fluid.block_white";
           }
           $recommendedProducts = $('#recommended-products-on-cart-wrapper');
           $recommendedProducts.insertAfter($(insertAfter));
            $recommendedProducts.show();
            $('.checkout .cart .delete-button').click(function(){
                $recommendedProducts.remove();
            });
            $("#recommended-products-on-cart-wrapper .modal-buy-button").click(function(){
                $productId = $(this).data().productId;
                // var request = $.post( "/product-form-dispatcher", { product_id: $productId, quantity: "4" } );
                var request = $.ajax({
                   type: "POST", 
                   url: "/product-form-dispatcher/", 
                   data: { product_id: $productId, quantity: "4", ajax_mode: 1 },
                });
                request.done(function(response){
                    window.location = "/checkout";
                    // update_checkout();
                    // mediator.publish('change_amount_modal_cart_item');
                });
            });
        });
    {% elif show_on_modal_cart %}
        $(function () {
            // $('#recommended-products-on-cart').append($('.modal-footer'));
            $recommendedProducts = $('#recommended-products-on-cart-wrapper');
            $recommendedProducts.show();
            $(".modal-buy-button").click(function(){
                $productId = $(this).data().productId;
                var request = $.post( "/product-form-dispatcher", { product_id: $productId, quantity: "4" } );
                request.success(function(data){
                    $('#sshop-modal .modal-body').html(data);
                    // mediator.publish('change_amount_modal_cart_item');
                });
            });
        });
    {% endif %}
</script>
{% endif %}
