{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load staticfiles %}
{% load url from future %}
{% if product_slug %}
{% if not ajax %}
    <div id="recommended_products_{{ portlet_hash }}" portlet_hash="{{ portlet_hash }}" slideshow="{{ slideshow }}" product_slug="{{ product_slug }}" portlet_title="{{ title }}" limit="{{ limit }}" slot_name="{{ slot_name }}">
        
    </div>
{% endif %}

{% if products %}
<div id="portlet_{{ portlet_hash }}">
    <div class="recommended-products-portlet portlet">
        <div class="portlet-header">
            <h4><p>{{ title }}</p></h4>
            <a href="http://{{request.get_host}}{% url 'recommended_products_page' product_slug %}" title="все рекомендуемые товары"  class="all all-recommended-products pull-right">{% trans 'All recommended products'%}</a>
        </div>
        <div class="portlet-body">
            <ul>
            {% for product in products %}
            <li>
            <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %} pull-left" >
                
            <div class="product-image">
                    <a href="{{ product.get_absolute_url }}" title="{{ product.get_image.title|lower}}">
                        {% badges_for_product product %}
                        {% if product.get_image %}
                            <img src="{{ product.get_image.image.url_large }}" alt="{{ product.get_image.title|lower}}" title="{{ product.get_image.title|lower}}">
                        {% else %}
                            <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title|lower}}" title="{{ product.get_image.title|lower}}" class="product-image" />
                        {% endif %}
                    </a>
                </div>
                <div class="product-title">
                    <a title="{{ product.get_name|lower }}" href="http://{{request.get_host}}{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                </div>
                {% if product.get_for_sale %}
                    <div class="product-price">
                        <span class="label label-important price">{% for_sale_price product %}</span>
                        <ul>
                            <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                            <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                        <span class="label label-info price">{% price product %}</span>
                    </div>
                {% endif %}
            </div>
        </li>
            {% endfor %}
        </ul>
        {% if pagination %}
        <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
            <li class="previous{% if not products.has_previous %} disabled{% endif %}">
                <a {% if products.has_previous %}href="javascript:load_page_recommende_products({{ products.previous_page_number }}, '{{ portlet_hash }}')"{% endif %}>&larr; {% trans 'previous' %}</a>
            </li>
            <li class="next{% if not products.has_next %} disabled{% endif %}">
                <a {% if products.has_next %}href="javascript:load_page_recommende_products({{ products.next_page_number }}, '{{ portlet_hash }}')"{% endif %}>{% trans 'next' %} &rarr;</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
</div>

    {% if ajax %}
        <script type="text/javascript">
            mediator.publish("add_to_cart");
        </script>
    {% endif %}
{% endif %}

{% if init %}
    <script type="text/javascript">

        $.ajax({
          url: "{% url 'recommended_products_for_product' %}",
          type: "POST",
          dataType: "json",
          data: {
            // 'ajax_mode': '{{ ajax_mode }}',
            // 'page': {{ page }},
            'product_slug': '{{ product_slug }}',
            'slideshow': '{{ slideshow }}',
            'limit': {{ limit }},
            'title': '{{ title }}',
            'slot_name': '{{ slot_name }}',
            'portlet_hash': '{{ portlet_hash }}',

          },
          success: function(msg){
              $('#recommended_products_{{ portlet_hash }}').html(msg['html'])
              page_designer.page_rebuild();
          }
        });
        function load_page_recommende_products(page, portlet_hash){
            class_name = '#recommended_products_' + portlet_hash;
            product_slug = $(class_name).attr('product_slug')
            slideshow = $(class_name).attr('slideshow')
            limit = $(class_name).attr('limit')
            title = $(class_name).attr('portlet_title')
            slot_name = $(class_name).attr('slot_name')
            $(class_name).animate({ opacity: "0.3" }, 1);
            $.ajax({
              url: "{% url 'recommended_products_for_product' %}",
              type: "POST",
              dataType: "json",
              data: {
                'page': page,
                // 'ajax_mode': '{{ ajax_mode }}',
                // 'page': {{ page }},
                'product_slug': product_slug,
                'slideshow': slideshow,
                'limit': limit,
                'title': title,
                'slot_name': slot_name,
                'portlet_hash': portlet_hash,
              },
              success: function(msg){
                    $(class_name).animate({ opacity: "1" }, 100);
                  $(class_name).html(msg['html'])
                  page_designer.page_rebuild();
              }
            }); 
        }
    </script>
{% endif %}
{% endif %}