{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block section %}password-reset-done{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% block middle-slot %}{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block content %}
    <h1 class="first-heading">
        {% trans 'Password reset successful' %}
    </h1>
    <p>
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </p>
{% endblock %}
{% block body_bottom %}
    <script>
        mediator.publish('change_slots_width', "span3", "span6", "span12");
    </script>
{% endblock %}
