{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load infoshina_theme_tags reviews_tags %}

<div class="row-fluid category-toolbar">
<div class="checked-products pull-left" style="display:None;">
    <span class="products-quantity"></span>
    <span class="count-products"></span> на сумму 
    <span class="products-price"></span>
    <button class="btn" onclick="submitCheckedPoducts();">{% trans 'Buy' %}</button>
    <a class="notebook-delete-checked">Удалить</a>
</div>    <div class="pull-right">
        <div class="btn-group pull-left category-view-toolbar">
            <a href="{% url notebook_set_page_mode %}?notebook_display_type=list" class="btn {% if display_type == 'list' %}active{% endif%}" title="Список"><i class="icon-list"></i></a>
            <a href="{% url notebook_set_page_mode %}?notebook_display_type=table" class="btn {% if display_type == 'table' %}active{% endif%}" title="Таблица"><i class="icon-th-large"></i></a>
        </div>
    </div>
</div>
<div id="products">
    {% if not products_count %}
        <div class="alert">
            <p>Вы пока не добавили ни одного товара в избранное</p>
        </div>
    {% endif %}
    {% for product in notebook_list %}
    <div class="product-list-item">
    {% if product.status.show_buy_button %}
        {% if not product.is_product_with_variants %}
            <input type="checkbox" name="is_product_checked" class="check-uncheck-product" id="checkbox-notebook-product-{{product.id}}" data-productId="{{product.id}}">
            <label for="checkbox-notebook-product-{{product.id}}"></label>
        {% endif %}
    {% endif %}
            <a href="{% url lfs_notebook_remove_product product.id %}" style="
                position: absolute;
                right: 10px;
                z-index:15;
            "><i class="icon-remove"></i></a>
            <div class="row-fluid">
                <div class="span3">
                    <div class="wrapp_img">
                        <a href="{% url lfs.catalog.views.product_view product.slug %}" title="{{ product.name|lower }}" >
                            {% if product.get_image %}
                                {% badges_for_product product %}
                                <img class="img_product_{{ category.slug }}" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_large }}" />
                            {% else %}
                                <img alt="{{ product.name|lower }}"  title="{{ product.name|lower }}" src="{{ STATIC_URL }}img/200x200.gif" width="200" height="200" />
                            {% endif %}
                        </a>
                    </div>
                    <div>{% average_for_instance product %}</div>
                </div>
                <div class="span7 product-text-block">
                    <div class="product-caption"><a href="http://{{request.get_host}}{% url lfs_product product.slug %}" title="{{ product.get_name|lower }}">{{ product.get_name }}</a></div>
                        {% if product.is_product_with_variants %}
                            <div class="icons-property_model">
                                    <span>{% property_value_icon product 'sezon' %}</span>
                                    <span>{% property_value_icon product 'tip-avtomobilya' %}</span>
                            </div>
                        {% else %}
                            {% property_value_icons product %}
                        {% endif %}
                        {# <a class="show_description-{{product.id}}">Показать описание</a> #}
                        <div class="product-description-{{product.id}}" style="display:none">{{ product.get_short_description|safe }}</div>
                            <script>
                                // $('.show_description-{{product.id}}').click(function(){
                                //     if ($(this)[0].innerHTML == 'Показать описание')
                                //     {
                                //         $(this)[0].innerHTML = 'Скрыть описание'; 
                                //         $(".product-description-{{product.id}}").show(500);
                                //         $('.show_description-{{product.id}}').addClass('hide_description-{{product.id}}');
                                //         $('.show_description-{{product.id}}').removeClass('show_description-{{product.id}}');
                                //     }
                                //     else{
                                //         $(this)[0].innerHTML = 'Показать описание';
                                //         $(".product-description-{{product.id}}").hide(500); 
                                //         $('.hide_description-{{product.id}}').addClass('show_description-{{product.id}}');
                                //         $('.hide_description-{{product.id}}').removeClass('hide_description-{{product.id}}');
                                //     }
                                // });
                            </script>
                        {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                            
                </div>
                <div class="span2">
                    {% if product.is_product_with_variants %}
                        <div class="product-price">
                            <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                                {% cheapest_price product %}
                            </span>
                        </div>
                    {% else %}
                        {% if product.get_for_sale %}
                            <div class="product-price">
                                <span class="label label-important price">{% for_sale_price product %}</span>
                                <ul>
                                    <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                    <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="product-price">
                                <span class="label label-info price">{% price product %}</span>
                            </div>
                        {% endif %}
                    {% endif %}       
                        {% if not product.is_product_with_variants %}
                            <form action="{% url lfs.catalog.views.product_form_dispatcher %}" class="add-to-cart-form" method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <div class="count">
                                    <span class="spin-prev" value="less"></span>
                                    <span class="spin-next" value="more"></span>
                                <input class="input-small inline product-{{product.id}}-quantity" name="quantity" type="text" value="4" data-productId="{{product.id}}"/>
                                </div>
                                {% include 'lfs/catalog/init_buy_button.html' with id=product.id page_type='category_page' %}
                            </form>
                        {% else %}
                            <div class="row-fluid">
                                <div class="span12"><a href="http://{{request.get_host}}{% url lfs_product product.slug %}" rel="nofollow" class="btn custom-btn btn-all-variants">Все варианты</a></div>
                             </div>     
                        {% endif %}
                        <div id="{{product.id}}" class="price-block hide" data-price="{%if product.for_sale%}{{product.for_sale_price}}{% else %}{{product.effective_price}}{% endif %}"></div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function() {

            $('.spin-prev').click(function () {

                    var $input = $(this).parent().find('input');

                    var count = parseInt($input.val()) - 1;

                    count = count < 1 ? 1 : count;

                    $input.val(count);

                    $input.change();

                    return false;

            });

            $('.spin-next').click(function () {

                    var $input = $(this).parent().find('input');

                    $input.val(parseInt($input.val()) + 1);

                    $input.change();

                    return false;

            });

    });
$(window).scroll(function(){
    var offs = $('.category-toolbar')[0].getBoundingClientRect().top;
    // console.log(offs);
    if( offs <= 0){

        $('.checked-products').addClass('sticky');
    }else{
        $('.checked-products').removeClass('sticky');
    }
})


    var checkedProducts = {};
    var calculatePrice = function(){
        var totalPrice = 0;
        var quantity = 0;
        for(var key in checkedProducts){
            quantity += parseFloat(checkedProducts[key]['quantity']);
            totalPrice += parseFloat(checkedProducts[key]['price']) * parseFloat(checkedProducts[key]['quantity']);
        }
        $('.checked-products .products-price').html("<span class='big-price'>"+ totalPrice +" </span>" +' {{currency}}');
        $('.checked-products .products-quantity').text(quantity);


        var compareQuant = quantity.toString().substr(-1);
        compareQuant = parseInt(compareQuant);
        if(compareQuant > 4){
            var textQuant = "товаров";
        }else if(compareQuant > 1){
            var textQuant = "товара";
        }else if(compareQuant == 1){
            var textQuant = "товар";
        }
        $('.checked-products .count-products').text(textQuant);


        if(totalPrice){
            $('.checked-products').show();
        }
        else{
            $('.checked-products').hide();
        }
    }
    var checkProduct = function(productId){
        var price = $('#' + productId + '.price-block').data().price;
        var quantity = $('.product-'+productId+'-quantity').val();
        checkedProducts[productId] = {
            'price': price,
            'quantity': quantity
        }
        calculatePrice();
    }
    var uncheckProduct = function(productId){
        delete checkedProducts[productId];
        calculatePrice();
    }
    var deleteCheckedProducts = function(){
        $.ajax({
            type: 'POST',
            url: '{% url notebook_remove_checked_products %}',
            data: {
                'products': JSON.stringify(Object.keys(checkedProducts))
            },
            success: function(msg){
                location.reload();
            }
        })
        
    }
    $(function(){
        $('.check-uncheck-product').click(function(){
            if($(this).prop('checked')){
                checkProduct($(this).data().productid);
            }
            else{
                uncheckProduct($(this).data().productid);
            }
        });
        $('.add-to-cart-form input[name="quantity"]').keyup(function(){
            if($(this).data().productid in checkedProducts){
                checkedProducts[$(this).data().productid]['quantity'] = $(this).val();
                calculatePrice();
            }
        });
        $('.notebook-delete-checked').click(function(){
            deleteCheckedProducts();
        })
    });
    var submitCheckedPoducts = function(){
        $.ajax({
            type: 'POST',
            url: '{% url notebook_add_to_cart %}',
            dataType: 'json',
            data: {'products': JSON.stringify(checkedProducts)},
            success: function(msg){
                window.location.href = '{% url lfs_checkout %}';
            }
        });
    }
</script>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
