{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags sshop_tags %}
{% load url from future %}

{% block title %}
    {% trans "Comparison" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Comparison") %}
{% endblock %}

{% block content %}
{% if comparison_list %}
<div class="comparison_list">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
            <td></td>
            {% for item in comparison_list %}
            <td>

                <div class="wrap_comparison_remove_product">
                <a href="{% url 'lfs_product' item.slug %}"><img src="{{ item.get_image.image.url_60x60 }}"></a> <a href="{% url 'lfs_comparison_remove_product' item.id %}" class="remove"><i class="icon-remove"></i></a><br><a href="{% url 'lfs_product' item.slug %}">{{ item.name }}</a>
                <div class="prices">
                            <div class="product-price">
                                {{ item.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}
                            </div>
                            {% if item.status.show_buy_button %}
                            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                                class="add-to-cart-form"
                                method="post">
                            {% csrf_token %}
                            <input name="product_id" type="hidden" value="{{ item.id }}" />
                            <input name="ajax_mode" type="hidden" value="1" />
                            <div class="product-quantity count pull-left">
                                <span class="spin-prev" value="less"></span>
                                <span class="spin-next" value="more"></span>
                                <input min="1" class="number quantity input-small" 
                                    name="quantity" 
                                    size="3" 
                                    type="number"
                                    value="4" />
                            </div>
                            <button class="btn">{% trans "Add to cart" %}</button>
                            </form>
                            {% endif %}
                        </div> <!-- prices -->
                </div>
            </td>
            {% endfor %}
        </tr>

        {% for prop_group, prop_value in properties.items %}
        {% if prop_group %}<tr>
        <td><strong>{{ prop_group }}</strong></td><td colspan="{{ comparison_list.count }}"></td>
        </tr>{% endif %}
            {% for prop, value in prop_value.items %}
            <tr>
                <td>{{ prop }}</td>
                {% for item in comparison_list %}
                <td>{{ value|lookup:item.pk }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert">
    <p>{% trans 'Not selected any product' %}</p>
    <a href="/">Перейти на главную</a>
</div>
{% endif %}
{% endblock %}
{% block middle-slot %}{% endblock %}
{% block left-slot %}{% endblock %}
{% block right-slot %}{% endblock %}
{% block body_bottom %}
  <script>
  mediator.publish('change_slots_width', "span3", "span12", "span12");
      $(document).ready(function() {

                $('.spin-prev').click(function () {

                        var $input = $(this).parent().find('input');

                        var count = parseInt($input.val()) - 1;

                        count = count < 1 ? 1 : count;

                        $input.val(count);

                        $input.change();

                        return false;

                });

                $('.spin-next').click(function () {

                        var $input = $(this).parent().find('input');

                        $input.val(parseInt($input.val()) + 1);

                        $input.change();

                        return false;

                });

        });
  </script>
{% endblock %}