{% load i18n lfs_tags sshop_tags %}
{% if products %}
    <table id="livesearch-results-table" class="table table-striped">
        {% for p in products %}
            {% if p.object %}
            <tr class="{% cycle 'even' 'odd' %}"
                onclick="window.location='{{ p.object.get_absolute_url }}'">
                <td>
                    {% if p.object.get_image %}
                        <a href="{{ p.object.get_absolute_url }}" title="{{ p.object.get_name|lower }}">
                            <img src="{{ p.object.get_image.image.url_60x60 }}"
                                 alt="{{ p.object.get_name|lower }}"
                                 title="{{ p.object.get_name|lower }}" />
                        </a>
                    {% endif %}
                </td>
                <td class="text">
                    <a href="http://{{request.get_host}}{{ p.object.get_absolute_url }}" title="{{ p.object.get_name|lower }}">
                        {{ p.object.get_name }}
                    </a>
               </td>
                <td class="number"
                    nowrap="nowrap">
                    <div class="price">
                        {% price p.object %} {% if p.object.get_price_unit %}/ {{ p.object.get_price_unit }}{% endif %}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td class="all-results"
                colspan="3">
                <a href="http://{{request.get_host}}{% url lfs_search %}?q={{ q }}" title="все результаты">
                    {% trans 'All results' %} ({{ total }})
                </a>
            </td>
        </tr>
    </table>
{% else %}
    <p>{% trans 'No products found' %}</p>
{% endif %}