{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load lfs_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block head %}
        <meta name="robots" content="noindex,follow">
{% endblock %}
{% block title %}{{ product.name }} - {% trans 'Dynamics of price' %}{% endblock%}
{% block breadcrumbs %}
    {% breadcrumbs product %}
    
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/price_tracking.css' %}">

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}jqplot/excanvas.js"></script><![endif]-->

<script language="javascript" type="text/javascript" src="{% static 'js/jqplot/jquery.jqplot.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.dateAxisRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.highlighter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.categoryAxisRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.canvasTextRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.barRenderer.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jqplot/jquery.jqplot.css' %}" />


    <div id='chart1' ></div>


{% endblock %}
{% block body_bottom %}

<script type="text/javascript">
        $(document).ready(function(){
          var last_ul = $('#breadcrumb .breadcrumb li:last')
          last_ul.replaceWith('<li><a href="{% url "lfs.catalog.views.product_view" product.slug %}">' + last_ul[0].innerHTML + '</a> /</li>' + '<li><span style="padding-left:10px">{% trans "Dynamics of price" %}</span></li>')
        });
</script>
<script type="text/javascript">
    $(document).ready(function(){

        
        var data = [
            {% for pl in prices_lines %}
              [
                {% for line in pl %}
                    [ {{line.0}}, {{ line.1|stringformat:".2f" }}, '{{line.2}}' ],
                {% endfor %}
              ],
            {% endfor %}
        ];
        // var data = {{ prices_list }}
        // var points = {{ points }}

      $.jqplot('chart1', data,{
          title: '{% trans "Dynamics of price" %}',
          highlighter: {
                show: true,
          },
          // series:[
          //   {

          //     markerOptions:{
          //       show:false,
          //     },
          //     highlighter:{
          //       show:false,
          //       formatString: '',
          //       sizeAdjust: 1,
          //       showTooltip: false,
          //       showMarker:false,
          //     }  
          //   },
          //   {
          //     showLine:false,
          //     color: 'blue',
          //     highlighter: {
          //       show: true,
          //       showMarker:true,
          //       showTooltip: true,
          //       sizeAdjust: 7.5,
          //       // useAxesFormatters: true,
          //       tooltipLocation: 'ne',
          //       tooltipAxes: 'y',
          //       // yvalues:3,
          //       formatString: '%s {{shop.default_currency.abbr}}',
          //     },
          //   },
          // ],
          // series:[{color:'#5FAB78'}],
          seriesDefaults:{
            // renderer:$.jqplot.BarRenderer,
            markerOptions:{
              show:false,
              
            },
            color:'#0000ff',
            highlighter: {
                show: true,
                showMarker:true,
                showTooltip: true,
                sizeAdjust: 7.5,
                // useAxesFormatters: true,
                tooltipLocation: 'ne',
                // tooltipAxesTicks: 'x',
                yvalues:3,
                formatString: '<p style="display:none">%s</p> <p style="margin:0px">%{{price_format}} {{shop.default_currency.abbr}}</p><p style="margin:0px">%s</p>',
              },
          },
          
          // dataRenderer: sineRenderer,
          // axesDefaults: {
          //     tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
          //     tickOptions: {
          //       angle: -30,
          //       fontSize: '10pt'
          //     }
          // },
          axes: {
              xaxis: {
                  renderer:$.jqplot.DateAxisRenderer,
                  ticks:  [{% for tick in ticks %}[{{tick.0}},'{{tick.1}}'], {% endfor %}],
                  tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                  tickOptions:{
                    // formatString:'%#d %b %Y',

                    angle: -30,
                  },
                  pad:0.5,

                 
              },
              yaxis: {
                  max:{{ max_y }},
                  min:{{ min_y }},
              }
          },

          

      });

        $('#id_city').val('{{city.slug}}');
        $('#id_city').change(function(){
            $('form.city').submit();
        });
    });
    mediator.publish('change_slots_width', "span2", "span8", "span10");
</script>
<script type="text/javascript">
//     $(document).ready(function(){

     
//         // var data = [{% for pl in prices_list %}[{{pl.0}}, {{ pl.2 }}, '{{pl.2}}'],{% endfor %}];
//         var data = {{ prices_list }}
        

//       $.jqplot('chart1',[data],{
//           title: '{% trans "Dynamics of price" %}',
//           // series:[{renderer:$.jqplot.BarRenderer}],
//           seriesDefaults:{
//             // renderer:$.jqplot.BarRenderer,
//             markerOptions:{
//               show:false,
//             },
//           },
//           // dataRenderer: sineRenderer,
//           // axesDefaults: {
//           //     tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
//           //     tickOptions: {
//           //       angle: -30,
//           //       fontSize: '10pt'
//           //     }
//           // },
//           axes: {
//               xaxis: {
//                   renderer:$.jqplot.DateAxisRenderer,
//                   ticks:  [{% for pl in ticks %}[{{pl.0}},'{{pl.1.month}}.{{pl.1.day}}.{{pl.1.year}}'], {% endfor %}],
//                   tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
//                   tickOptions:{
//                     // formatString:'%#d %b %Y',

//                     angle: -30,
//                   },
//                   pad:0.5,

                 
//               },
//               yaxis: {
                
//               }
//           },
//           highlighter: {
//                 show: true,
//                 sizeAdjust: 7.5,
//                 // useAxesFormatters: true,
//                 tooltipLocation: 'ne',
//                 // tooltipAxes: 'z',
//                 yvalues:3,
//                 formatString: '<div ><p>1. %s</p> <p>2. %s</p></div><p>3. %s</p> {{shop.default_currency.abbr}}',
//               },

//       });

//         $('#id_city').val('{{city.slug}}');
//         $('#id_city').change(function(){
//             $('form.city').submit();
//         });
//     });
//     mediator.publish('change_slots_width', "span2", "span8", "span10");
 </script>
{% endblock %}