{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% if price_tracking_button %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/price_tracking.css' %}">
    <div class="price-history">
        <a href="http://{{request.get_host}}{% url 'price_history' product.slug %}" title="динамика цены" >
        {% trans "Dynamics of price" %}</a>
    </div>
{% endif %}