{% load i18n %}
{% load url from future %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reviewed_with_chains.css' %}">

<form action="" method="POST" id="review_with_chains_form">
        {# <span class="comment">{% trans "Leave a comment" %}</span> #}
        {# <span class="review">{% trans "Leave a review on this product" %}</span> #}
        {# <span class="or">{% trans 'or' %}</span> #}
        <div class="row">   
            <a href="#" class="comment active-link">Отзыв о товаре</a>
            <a href="#" class="review ">Задать вопрос о товаре</a>
        </div>
    <input type="hidden" name="content_type_id" value="{{ content_type_id }}">
    <input type="hidden" name="content_id" value="{{ content_id }}">
    <input type="hidden" name="score" id="id_score"/>
    <input type="hidden" name="is_short_comment" id="id_is_short_comment" value="false">
    {% if review_form.non_field_errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in review_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="row-fluid">
    
        <div class="review-name-wraper">{{ review_form.user_name|as_bootstrap:"vertical" }}</div>
        <div class="review-email-wraper">{{ review_form.user_email|as_bootstrap:"horizontal" }}</div>
        <div class="review-rating-wrapper">
            <div class="control-group controls-row{% if review_form.score.errors %} error{% endif %}">
                <label class="control-label">{{ review_form.score.label }}&nbsp;*</label>
                <div class="star-rating-wrapper pull-left">
                    <ul class="star-rating">
                        {% for score in scores %}
                            <li>
                                <a href="#"
                                   class="rate {% if score.current %}current-rating{% endif %}"
                                   title="{{ score.title }}"
                                   data="{{ score.value }}"
                                   style="z-index:{{ score.z_index }}; width:{{ score.width }}px">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if review_form.score.errors %}
                    {% for er in review_form.score.errors %}
                        <span class="help-inline error">{{er}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
        
    <div class="review-comment-wrapper clearfix">{{ review_form.comment|as_bootstrap:"vertical" }}</div>
    <div class="review-advantage-wrapper clearfix">{{ review_form.advantage|as_bootstrap:"horizontal" }}</div>
    <div class="review-cons-wrapper clearfix">{{ review_form.cons|as_bootstrap:"horizontal" }}</div>
    <input class="btn pull-left" type="button" value="{% trans 'Add review'%}" onclick="add_reviewed_with_chains()">
    <label for="receive_notifications" class="receive_notifications_label pull-left ml30">
        <input type="checkbox" name="receive_notifications" id="receive_notifications" checked="checked"> Получать уведомления на e-mail об ответах
    </label>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        {% if message %}
            $.jGrowl('{{message}}');
        {% endif %}
        $('#reviewed_with_chains_form [type="button"]').val('Оставить отзыв');
        $('[for="id_user_name"]').text('Ваше имя *');
        // $("#id_advantage").parent().parent().css('display', 'none');
        // $("#id_cons").parent().parent().css('display', 'none');
        // $('.star-rating-wrapper').parent().css('display', 'none');
        $(".rate").click(function(e) {
            e.preventDefault();
            $(".rate").each(function() {
                $(this).removeClass("current-rating")
            });

            $(this).addClass("current-rating");

            $("#id_score").val($(this).attr("data"));
        });
        $("a.comment").click(function(event){
            $('#reviewed_with_chains_form label[for="id_comment"]').text('Комментарий *');
            $('#reviewed_with_chains_form [type="button"]').val('Оставить отзыв');
            event.preventDefault();
            $('#reviewed_with_chains_form .row > a').removeClass('active-link');
            $(this).addClass('active-link');
            $('span.comment').css('display', 'none');
            $('.star-rating-wrapper').parent().css('display', 'block');
            $('span.review').css('display', 'block');
            $("#id_advantage").parent().parent().css('display', 'block')
            $("#id_cons").parent().parent().css('display', 'block')
            $('span.review').css('display', 'block');
            $('#id_is_short_comment').val(false);
        });
        $("a.review").click(function(event){
            $('#reviewed_with_chains_form [type="button"]').val('Оставить вопрос');
            $('#reviewed_with_chains_form label[for="id_comment"]').text('Ваш вопрос *');
            event.preventDefault();
            $('#reviewed_with_chains_form .row > a').removeClass('active-link');
            $(this).addClass('active-link');
            $('span.review').css('display', 'none');
            $("#id_advantage").parent().parent().css('display', 'none');
            $("#id_cons").parent().parent().css('display', 'none');
            $('span.comment').css('display', 'block');
            $('.star-rating-wrapper').parent().css('display', 'none');
            $('#id_is_short_comment').val(true);
        });
    });
</script>