{% load i18n %}
{% load url from future %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% if review_form %}
<form action="" method="POST" id="review_with_chains_form_{{ review_id }}">
    <input type="hidden" name="review_id" id="id_review_id" value="{{ review_id }}"/>
    {{ review_form|as_bootstrap:"vertical" }}
    <input type="button" class="btn" value="Добавить ответ" onclick="add_reply_for_review({{ review_id }})">
</form>
<script type="text/javascript">
    $(document).ready(function(){
        {% if message %}
            $.jGrowl('{{message}}');
        {% endif %}
        $(".rate").click(function() {
            $(".rate").each(function() {
                $(this).removeClass("current-rating")
            });

            $(this).addClass("current-rating");

            $("#id_score").val($(this).attr("data"));
        });
    });
</script>
{% endif %}