{% load i18n %}
{% load url from future %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load reviews_with_chains_tags %}
{% load infoshina_theme_tags %}
{# <link rel="stylesheet" type="text/css" href="{% static 'css/reviewed_with_chains.css' %}"> #}
<h4>Отзывы о товаре</h4>
{% if not reviews %}
    <div class="alert alert-info">
            {% trans 'There are no ratings for this product. Be the first one!' %}
    </div>
{% endif %}
{% get_product_slug content_id as product_slug %}
<ul class="unstyled js-all-reviews">
    {% for review, answers in reviews.items %}
        <li id="review-{{review.id}}" {% if forloop.counter > 2 %} style="position:absolute; z-index: -5; width: 940px; opacity: 0; left: 0"  {% endif %}>
            <div class="review">
                <div class="rating">
                    {% if review.score %}
                        <ul class="star-rating small-star inline-rating">
                            <li class="current-rating"
                                style="width:{{review.score|multiply:10|floatformat}}px">
                                Currently 3/5 Stars
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="review_header">
                    <div class="review_author">
                        {{ review.author.name }}
                    </div>
                    <div class="review_date">
                        {{ review.create_date|date:"d F Y" }}
                    </div>
                    {% if product_slug %}<a href="{% url 'lfs_product' product_slug %}#review={{review.id}}" class="focus-on-review" data-review-id="{{review.id}}"><img src="/static/img/link_review.png" title="Ссылка на коментарий" alt="Ссылка на коментарий"></a>{% endif %}
                    <div class="review_vote">
                        {% if review.usefull %}
                            {{ review.usefull }}% {% trans 'of users found this review useful' %}
                        {% endif %}
                    </div>
                </div>
                <div class="review_body">
                    <p class="js-review-comment">{{ review.comment }}</p>
                    {% if review.advantage %}
                        <p class="js-review-advantage"><span class="bold">{% trans 'Advantage' %}:</span> {{ review.advantage }}</p>
                    {% endif %}
                    {% if review.cons %}
                        <p class="js-review-cons"><span class="bold">{% trans 'Cons' %}:</span> {{ review.cons }}</p>
                    {% endif %}
                </div>
                <div class="review_footer row">
                    <a href="#" class="add_reply_link span4 " review_id="{{ review.id }}"><span class="dashed-bottom">Добавить ответ</span></a>
                    {% if user.is_authenticated %}
                        <div class="rating span8">
                            Отзыв полезен? 
                            <a href="#" class="rating_yes" review_id="{{ review.id }}">
                                Да
                                <span>
                                    {% if review.rating_yes %}({{ review.rating_yes }}){% endif %}
                                </span>
                            </a>
                            <span class="separate">/</span>
                            <a href="#" class="rating_no" review_id="{{ review.id }}">
                                Нет
                                <span>{% if review.rating_no %}({{ review.rating_no }}){% endif %}</span>
                            </a>
                        </div>
                    {% else %}
                    <div class="rating span8">
                        Отзав полезен? 
                        <a href="#" class="rating_yes" style="pointer-events:none" review_id="{{ review.id }}">
                            Да
                            <span>
                                {% if review.rating_yes %}({{ review.rating_yes }}){% endif %}
                            </span>
                        </a>
                        <span class="separate">/</span>
                        <a href="#" class="rating_no" style="pointer-events:none" review_id="{{ review.id }}">
                            Нет
                            <span>{% if review.rating_no %}({{ review.rating_no }}){% endif %}</span>
                        </a>
                    </div>

                    {% endif %}
                </div>
                <div id="reply_form_{{ review.id }}"></div>
            </div>
            <ul class="unstyled pl30">
            {% for answer in answers %}
                <li>
                <div class='answer'>
                    <div class="review_header">
                        <div class="review_author">
                            {% review_author_name answer.author %}
                        </div>
                        <div class="review_date">
                            {{ answer.create_date|date:"d F Y" }}
                        </div>
                    </div>
                    <div class="review_body js-answer">
                        <p>{{ answer.comment }}</p>
                    </div>
                </div>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% if not reviews.items|length <= 2  and  reviews.items|length <= 4 %}
            {% if forloop.counter = 2   %} <span class="show-all-reviews dashed-bottom">Показать все отзывы</span> {% endif %}
        {% endif %}
        {% if reviews.items|length > 4  and forloop.counter|divisibleby:"2" and not foorloop.last %}
            <span class="show-more-reviews dashed-bottom">Показать больше отзывов</span>
        {% endif %}
    {% endfor %}
</ul>
<script type="text/javascript">
    $(function(){
        var urlReadyHash = window.location.hash.replace('#review=', '');
            if(urlReadyHash.length){
                $('.show-all-reviews').hide();
                $('.show-more-reviews').hide();
                $('.js-all-reviews li#review-'+ urlReadyHash).after('<span class="show-all-reviews dashed-bottom">Показать все отзывы</span>');
                if($('.variant-reviews').length){
                   $('.variant-reviews')[0].scrollIntoView();
                }else{
                    $('.model-reviews')[0].scrollIntoView();
                }

        };
    });
    var focusOnReview = function(reviewId){
        var $focusReview = $('.js-all-reviews li#review-'+reviewId);
        if($focusReview.length){
            $('.js-all-reviews > li').hide();
            $('.show-more-reviews').hide();
            $('.js-all-reviews li#review-'+reviewId).removeAttr('style');
            if(!$('.show-all-reviews').length){
                $('.js-all-reviews li#review-'+reviewId).after('<span class="show-all-reviews dashed-bottom">Показать все отзывы</span>');
            }
            $('.show-all-reviews').click(function(){
                $(this).addClass('js-review-ajax-load').text("");
                setTimeout(function(){
                    $('.js-review-ajax-load').remove();
                    $('#reviews_with_chains ul.js-all-reviews > li').removeAttr('style');
                    $('.show-all-reviews').remove();
                },500);
            });
        };
    };
    $(document).ready(function(){
        $('.focus-on-review').unbind();
        $('.focus-on-review').click(function(){
            focusOnReview($(this).data('reviewId'));
            var focusedReviewPos = $('#reviews_with_chains').offset().top;
            $('body, html').scrollTop(focusedReviewPos);

        });
        $('#reviews_with_chains ul.js-all-reviews > li + .show-more-reviews ').attr('style','display:block !important');
        $('#reviews_with_chains ul.js-all-reviews > li[style] + .show-more-reviews ').hide();
        $('#reviews_with_chains ul.js-all-reviews > li').last().next().remove();
        $('.show-more-reviews').each(function(){
            $(this).click(function(){
                $(this).addClass('js-review-ajax-load').text("");
                setTimeout(function(){
                    $('.js-review-ajax-load').remove();
                    $($('#reviews_with_chains ul.js-all-reviews > li[style]')[0]).removeAttr('style');
                    $($('#reviews_with_chains ul.js-all-reviews > li[style]')[0]).removeAttr('style');
                    $('#reviews_with_chains ul.js-all-reviews > li + .show-more-reviews ').attr('style','display:block !important');
                    $('#reviews_with_chains ul.js-all-reviews > li[style] + .show-more-reviews ').hide();
                },500);

            });
        });

        $('.show-all-reviews').click(function(){
            $(this).addClass('js-review-ajax-load').text("");
            setTimeout(function(){
                $('.js-review-ajax-load').remove();
                $('#reviews_with_chains ul.js-all-reviews > li').removeAttr('style');
            },500);
        });
        $('.js-review-comment').each( function() {
            var commentsHeight = $( this ).height();
            // console.log( commentsHeight );

            if( commentsHeight > 54 ){
                // alert("js-review-comment");
                // console.log($(this));
                $( this ).addClass('short').after('<div class="clearfix"><a class="js-more-info pull-left dashed-bottom">Показать полностью</a></div>');
            }
        });
        if( $( '.js-review-advantage' ).length ){
            $( '.js-review-advantage' ).each( function() {
                var advantageHeight = $( this ).height();
                console.log( advantageHeight );
                console.log("js-review-advantage");
                // debugger;
                if( advantageHeight > 54 ){
                    $( this ).addClass('short').after('<div class="clearfix"><a class="js-more-info pull-left dashed-bottom">Показать полностью</a></div>');
                }
            });
        }
        if( $( '.js-answer' ).length ){
            $( '.js-answer' ).each( function() {
                var advantageHeight = $( this ).height();
                // console.log( advantageHeight );
                if( advantageHeight > 54 ){
                    $( this ).addClass('short').after('<div class="clearfix"><a class="js-more-info pull-left dashed-bottom">Показать полностью</a></div>');
                }
            });
        }
        if( $('.js-review-cons') ) {
            $('.js-review-cons').each( function() {
                var consHeight = $( this ).height();
                if( consHeight > 54 ){
                    $( this ).addClass('short').after('<div class="clearfix"><a class="js-more-info pull-left dashed-bottom">Показать полностью</a></div>');
                }
            });
        }
        $('.js-more-info').unbind();
        $('.js-more-info').click(function(){
            console.log("bind");
            $(this).parent().prev().toggleClass('short');
            if($(this).parent().prev().hasClass('short')){
                $(this).text("Показать полностью");
            }else{
                $(this).text("Свернуть");
            };
        });




        $('.add_reply_link').click(function(event){
            event.preventDefault();

            var review_id = $(this).attr('review_id');
            reply_form = '#reply_form_' + review_id;
            $.ajax({
                url: "{% url 'reviewed_with_chains_add_reply' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'review_id': review_id,
                },
                success: function(msg){
                    $(reply_form).loadOverStart();
                    $(reply_form).html(msg['html']);
                    $(reply_form).loadOverStop();
                    console.log($('[for="id_user_name"]').text("Ваше имя *"));
                }
            });
        });
        $('.rating_yes').click(function(event){
            event.preventDefault();
            var review_id = $(this).attr('review_id');
            span_yes = $(this).find('span');
            span_no = $(this).parent().find('.rating_no').find('span');
            $.ajax({
                url: "{% url 'reviewed_with_chains_rating' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'review_id': review_id,
                    'rating': 'yes',
                },
                success: function(msg){
                    span_yes.html(msg['yes']);
                    span_no.html(msg['no']);
                }
            });
        });
        $('.rating_no').click(function(event){
            event.preventDefault();
            var review_id = $(this).attr('review_id');
            span_no = $(this).find('span');
            span_yes = $(this).parent().find('.rating_yes').find('span');
            $.ajax({
                url: "{% url 'reviewed_with_chains_rating' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'review_id': review_id,
                    'rating': 'no',
                },
                success: function(msg){
                    span_yes.html(msg['yes']);
                    span_no.html(msg['no']);
                }
            });
        });
        
    var urlHash = window.location.hash.replace('#', '')
    if(urlHash.length){
        var hashParams = urlHash.split(';');
        for(var i=0;i<hashParams.length;i++){
            if(hashParams[i].indexOf('review=')==0){
                focusOnReview(hashParams[i].split('=')[1]);
                break;
            }
        }
    }
    
    });
    
</script>