{% load lfs_tags %}
{% load l10n %}
{% load i18n %}

{% localize off %}
{% if avg_score %}
<div itemprop="aggregateRating" class="clearfix rating-wrapper" itemscope itemtype="http://schema.org/AggregateRating">
    <div class="average-rating">
        <ul class="star-rating pull-left">
                <meta itemprop="ratingValue" content="{{avg_score}}" />
                <meta itemprop="bestRating" content="5" />
                <meta itemprop="ratingCount" content="{{ reviews_count }}" />
            <li class="current-rating"
                style="width:{{avg_score|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
    </div>
</div>
<div class="review-count"><span class="review-count-val">{{ reviews_count|floatformat:0 }}</span> <span class="review-count-text"> </span> </div>
<script>
    // alert();
    var quantity = parseInt({{ reviews_count }});
    var quantity = quantity.toString().substr(-1);
    quantity = parseInt(quantity);
    if(quantity > 4){
        var textQuant = "отзывов";
    }else if(quantity > 1){
        var textQuant = "отзыва";
    }else if(quantity == 1){
        var textQuant = "отзыв";
    }else if(quantity == 0){
        var textQuant = "отзывов";
    };
    $('.review-count-text').text(textQuant);
    $('.review-count').click(function(){
        if($('.variant-reviews').length){
           $('.variant-reviews')[0].scrollIntoView();
        }else{
            $('.model-reviews')[0].scrollIntoView();
        }
    })
</script>
{% endif %}
{% endlocalize %}
