{% load i18n %}
{% load url from future %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load reviews_with_chains_tags %}
<div class="row-fluid">
    <div id="reviews_with_chains" class="span12">
    
        {% if initial_insert %}
            {% initial_all_reviews content_type_id content_id %}
        {% endif %}
    </div>
</div>
<div class="open-reviews">Написать отзыв/вопрос</div>
<div class="row-fluid">
    <div id="reviewed_with_chains_form" style="display: none" class="span12"> 
        
    </div>
</div>
<script type="text/javascript">

$(function(){
    $('.open-reviews').click(function(){
        $('#reviewed_with_chains_form').slideToggle('slow');
    });
});

    function load_reviews_with_chains(){
        $.ajax({
            url: "{% url 'reviewed_with_chains_list' %}",
            type: "POST",
            dataType: "json",
            data: {
                'content_type_id': {{ content_type_id }},
                'content_id': {{ content_id }}
            },
            success: function(msg){
                $('#reviews_with_chains').loadOverStart();
                $('#reviews_with_chains').html(msg['html'])
                $('#reviews_with_chains').loadOverStop();
            }
        });
    };
    function add_reviewed_with_chains(){
        $.ajax({
            url: "{% url 'reviewed_with_chains_add' %}",
            type: "POST",
            dataType: "json",
            data: $('#review_with_chains_form').serialize(),
            success: function(msg){
                $('#reviewed_with_chains_form').loadOverStart();
                $('#reviewed_with_chains_form').html(msg['html']);
                $('#reviewed_with_chains_form').loadOverStop();
                if (msg['added'] == true){
                    load_reviews_with_chains();
                }
            }
        });
    };
    function add_reply_for_review(review_id){
        form_id = '#review_with_chains_form_' + review_id
        reply_form_block = '#reply_form_' + review_id
        $.ajax({
            url: "{% url 'reviewed_with_chains_add_reply' %}",
            type: "POST",
            dataType: "json",
            data: $(form_id).serialize(),
            success: function(msg){
                if (msg['added'] == true){
                    load_reviews_with_chains();
                } else {
                    $(reply_form_block).loadOverStart();
                    $(reply_form_block).html(msg['html']);
                    $(reply_form_block).loadOverStop();
                }
            }
        });
    }
    function load_review_form(){
        $.ajax({
            url: "{% url 'reviewed_with_chains_add' %}",
            type: "GET",
            dataType: "json",
            data: {
                'content_type_id': {{ content_type_id }},
                'content_id': {{ content_id }},
            },
            success: function(msg){
                $('#reviewed_with_chains_form').loadOverStart();
                $('#reviewed_with_chains_form').html(msg['html']);
                $('#reviewed_with_chains_form').loadOverStop();
            }
        });
    }
    load_reviews_with_chains();
    load_review_form();
</script>
