<div id="slider_{{id}}" class="slider_banner">
    <div class="row">
        <div class="span12">
            <div class="slider-promo">
                <div class="mask">
                    <ul class="mask_ul">                   
                    {% if images %}
                      {% for img in images %}
                            {% if img.url %}
                            <li><a href="{{ img.url }}"><img src="{{ img.image }}"
                            title="{{img.caption}}"  width="620" height="210" ></a></li>
                            {% else %} 
                            <li><img src="{{ img.image }}"
                            title="{{img.caption}}"  width="620" height="210"></li>
                            {% endif %}
                      {% endfor %}
                    {% else %}
                    <li><a href="#"><img src="static/img/header_01.jpg"
                            title="title example"  width="620" height="210" ></a></li>
                    {% endif %}
                    </ul>
                    <div class="switcher"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>