<div class="wrapp-portlet wrapp-portlet-tabs-{{ container_id }}"><h3 class="waved-{{ container_id }}"></h3>
<div id="portlet-tabs-{{ container_id }}" style="display: none;">
<ul>
{% for portlet in portlets %}
<li><a href="#tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}" title="{{ portlet.title|lower }}" class="tab-portlet-title-{{ portlet.id }}">{{ portlet.title }}</a></li>
{% endfor %}
</ul>
{% for portlet in portlets %}
<div id="tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">
    {{ portlet.html }}
</div>
{% endfor %}
</div>
<script type="text/javascript">
$('#portlet-tabs-{{ container_id }}').tabs();
$('#portlet-tabs-{{ container_id }}').removeAttr('style');
$('#portlet-tabs-{{ container_id }} div.portlet-header').hide();
$(".ui-tabs-nav").live("click", function(event){
  initCustomForms();
});
initCustomForms();
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
</div>
