{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}



{% if products %}
    {% if request.path == "/" %}
    <div class="featured-products-portlet  {% if  title == 'Распродажа' %} sale {% elif title == 'Акционные предложения' %} promotion {% endif %}">
        {% if  title == 'Распродажа' %} 
        {% else %}
        <div class="portlet-header">
            <h4>
                <p>{{title}}</p>
            </h4>
                <a class="all" href="http://{{request.get_host}}/product-lists" title="все акционные предложения">Все акционные предложения</a>
        </div>
        {% endif %}
        <div class="portlet-body">
            {% if  title == 'Распродажа' %} 
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product_sale">
               {% for product in products %}
                    <div class="item-big">
                       <div class="product-data">
                            <div class="image-wrapper">
                                <a title="{{ product.get_image.title|lower }}" href="{{ product.get_absolute_url }}">
                                    {% badges_for_product product %}
                                    {% if product.get_image %}
                                        <img alt="{{ product.get_image.title|lower }}" title="{{ product.get_image.title|lower  }}" src="{{ product.get_image.image.url_200x200 }}">
                                    {% else %}
                                        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title|lower }}"
                                    class="product-image" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="product-title">
                                <a href="http://{{request.get_host}}{{ product.get_absolute_url }}" title="{{ product.get_name|lower }}" class="product-title">{{ product.get_name }}</a>
                            </div>
                            {% if product.get_for_sale %}
                                <div class="product-price">
                                <span class="label label-important price">{% for_sale_price product %}</span>
                                <ul>
                                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                </ul>
                                </div>
                            {% else %}
                                <div class="product-price">
                                <span class="label label-info price">{% price product %}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% elif title == 'Акционные предложения' %}
                <div id="wrap_sale"></div>
                <div class="products_wrapper_promotional">
                    {% for product in products %}
                    <div class="item">
                            <div class="product-data">
                                <div class="image-wrapper span4">
                                        <a title="{{ product.get_image.title|lower }}" href="{{ product.get_absolute_url }}">
                                            {% badges_for_product product %}
                                            {% if product.get_image %}
                                                <img alt="{{ product.get_image.title|lower }}" title="{{ product.get_image.title|lower }}" src="{{ product.get_image.image.url_100x100 }}">
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                            class="product-image" />
                                            {% endif %}
                                        </a>
                                </div>
                                <div class="span8">
                                    <div class="product-title">
                                        <a title="{{ product.get_name|lower }}" href="http://{{request.get_host}}{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                    </div>
                                    {% if product.get_for_sale %}
                                            <div class="product-price">
                                            <span class="price">{% for_sale_price product %}</span>
                                            <span class="for-sale-price pull-right">{% standard_price product %}</span>
                                            </div>
                                        {% else %}
                                            <div class="product-price">
                                            <span class="label label-info price">{% price product %}</span>
                                            </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
        </div>{# portlet-body #}
        </div>
        {% else %}
        <div class="recent-products-portlet portlet slider2">
        <div class="portlet-header">
            <h4><p>{{ title }}</p></h4>
        </div>
        <a href="#" class="btn-prev" title="назад">назад</a>
        <a href="#" class="btn-next" title="вперед">вперед</a>
        <div class="portlet-body mask">
            <ul>
                {% for product in products %}
                <li>
                    <div class="portlet-item {% if forloop.last %}last{% endif %} item">
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="image-wrapper">
                                    {% if product.get_image %}
                                    <a href="{{ product.get_absolute_url }}">   
                                    {% badges_for_product product %}     
                                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                    {% else %}
                                    <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                    {% endif %}                
                                </div>
                            </div>
                            <div class="span7">
                                <a href="http://{{request.get_host}}{{ product.get_absolute_url }}">
                                    {{ product.get_name }}
                                </a>
                                <p class="product-price">{{ product.price|floatformat }} {{ SHOP.default_currency.abbr }}</p>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<script type="text/javascript">
    {% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    $("#wrap_sale").append($(".sale"));
</script>

{% endif %}
