{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}

{% if ajax and products %}
    <div class="recent-products-portlet portlet slider2 recent-products-slider">
        <div class="portlet-header">
            <h4><p>{{ title }}</p></h4>
        </div>
        <a href="#" class="btn-prev" title="назад">назад</a>
        <a href="#" class="btn-next" title="вперед">вперед</a>
        <div class="portlet-body mask">
            <ul>
                {% for product in products %}
                <li>
                    <div class="portlet-item {% if forloop.last %}last{% endif %} item">
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="image-wrapper">
                                    {% if product.get_image %}
                                    <a href="{{ product.get_absolute_url }}" title="{{ product.name|lower }}">      
                                        {% badges_for_product product %}  
                                        <img alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                    {% else %}
                                    <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                    {% endif %}                
                                </div>
                            </div>
                            <div class="span7">
                                <a href="http://{{request.get_host}}{{ product.get_absolute_url }}" title="{{ product.get_name|lower }}">
                                    {{ product.get_name }}
                                </a>
                                <p class="product-price">{{ product.price|floatformat }} {{ SHOP.default_currency.abbr }}</p>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}

{% if init %}
    <div id="recent_products_{{ portlet_hash }}" slug_not_to_display="{{ slug_not_to_display }}" portlet_title="{{ title}}" slot_name="{{ slot_name }}">
    </div>
    <script type="text/javascript">
        var data = {
            'slug_not_to_display': $('#recent_products_{{ portlet_hash }}').attr('slug_not_to_display'),
            'title': $('#recent_products_{{ portlet_hash }}').attr('portlet_title'),
            'slot_name': $('#recent_products_{{ portlet_hash }}').attr('slot_name'),
        }
        $.ajax({
            type: "GET",
            url: "/recent_products/ajax-load/",
            data: data,
            dataType: "json",
            success: function(msg){
                $('#recent_products_{{ portlet_hash }}').html(msg['html']);
                // page_designer.page_rebuild();
                jQuery('div.recent-products-slider').scrollGallery({
                    mask: '.mask',
                    slider: 'ul',
                    slides: 'li',
                    circularRotation: false,
                    autoRotation: false,
                    switchTime: 3000,
                    animSpeed: 500
                });
            }
        });
    </script>
{% endif %} 
