{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load infoshina_theme_tags reviews_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
       <div class="row-fluid">
    <div>
        {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
    </div>
</div>
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
        <div class="product-list-item">
            <div class="row-fluid">
                <div class="span2">
                    <div class="wrapp_img">
                        <a href="{% url lfs.catalog.views.product_view product.slug %}" title="{{ product.name|lower }}" >
                            {% if product.get_image.image.url_huge %}
                                {% badges_for_product product %}
                                <img class="img_product_{{ category.slug }}" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_huge }}" />
                            {% else %}
                                <img alt="{{ product.name|lower }}"  title="{{ product.name|lower }}" src="{{ STATIC_URL }}img/100x100.gif" width="100px" height="100px" />
                            {% endif %}
                        </a>
                    </div>
                    <div>{% average_for_instance product %}</div>
                </div>
                <div class="span8 product-text-block">
                    <div class="product-caption"><a href="http://{{request.get_host}}{% url lfs_product product.slug %}" title="{{ product.get_name|lower }}">{{ product.get_name }}</a></div>
                        {% property_value_icons product %}
                        {# <a class="show_description-{{product.id}}">Показать описание</a> #}
                        <div class="product-description-{{product.id}}" style="display:none">{{ product.get_short_description|safe }}</div>
                            <script>
                                // $('.show_description-{{product.id}}').click(function(){
                                //     if ($(this)[0].innerHTML == 'Показать описание')
                                //     {
                                //         $(this)[0].innerHTML = 'Скрыть описание'; 
                                //         $(".product-description-{{product.id}}").show(500);
                                //         $('.show_description-{{product.id}}').addClass('hide_description-{{product.id}}');
                                //         $('.show_description-{{product.id}}').removeClass('show_description-{{product.id}}');
                                //     }
                                //     else{
                                //         $(this)[0].innerHTML = 'Показать описание';
                                //         $(".product-description-{{product.id}}").hide(500); 
                                //         $('.hide_description-{{product.id}}').addClass('show_description-{{product.id}}');
                                //         $('.hide_description-{{product.id}}').removeClass('hide_description-{{product.id}}');
                                //     }
                                // });
                            </script>
                        {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                            {% if not product.is_product_with_variants %}
                                <div class="product-form span12">
                                    {% if product.has_variants %}
                                        {% if product.get_default_variant.id in request.session.comparison %}
                                            <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                                        {% else %}
                                            <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if product.id in request.session.comparison %}
                                            <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                                        {% else %}
                                            <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            </div>
                                <div class="span2">
                                    {% if product.is_product_with_variants %}
                                        <div class="product-price">
                                            <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                                                {% cheapest_price product %}
                                            </span>
                                        </div>
                                        <div class="products-with-variants-button js-variant-toggle" id="variant-wrapp-{{ product.pk }}">
                                            {% all_variants_button product.pk %}
                                        </div>
                                        <p class="variants-quantity">Найдено размеров: {{ product|correct_variants|correct_variants_property|sorted_by_diametr|length }}</p>
                                    {% else %}
                                        {% if product.get_for_sale %}
                                            <div class="product-price">
                                                <span class="label label-important price">{% for_sale_price product %}</span>
                                                <ul>
                                                    <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                                    <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                                </ul>
                                            </div>
                                        {% else %}
                                            <div class="product-price">
                                                <span class="label label-info price">{% price product %}</span>
                                            </div>
                                        {% endif %}
                                        <form action="{% url lfs.catalog.views.product_form_dispatcher %}" class="add-to-cart-form" method="post">
                                            {% csrf_token %}
                                            <input name="product_id" type="hidden" value="{{ product.id }}" />
                                            <input name="ajax_mode" type="hidden" value="1" />
                                            <input class="input-small inline hide" name="quantity" type="text" value="4" />
                                            {% include 'lfs/catalog/init_buy_button.html' with id=product.id page_type='category_page' %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            {% if product.is_product_with_variants %}
                                <div class="row-fluid">
                                    <div class="span12 product-variants-wrapp">
                                        <div id="variants-{{ product.pk }}" class="variants-{{ product.pk }} js-variants-wrapper"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
<script type="text/javascript">
$(document).ready(function() {
    $('.button_add_cart').click(function(){
    GIHhtQfW_AtmPixel('infoshina.com.ua/to_cart.html');
    });
});
</script>
