{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load infoshina_theme_tags reviews_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="row-fluid">
    <div>
        {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
    </div>
</div>
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
        <div class="row-fluid">
            <div class="span12">
                <div class="product-caption">
                    <a href="http://{{request.get_host}}{% url lfs_product product.slug %}" title="{{ product.get_name|lower }}">{{ product.get_name }}</a>
                </div>
                <div class="row-fluid">
                    <div class="span6 offset6">
                        {% average_for_instance product %}
                    </div>
                </div>
            </div>
            {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
        </div>
        <div class="row-fluid">
            <div class="span6 wrapp_img">
                <a href="{% url lfs.catalog.views.product_view product.slug %}" title="{{ product.name|lower }}">
                    {% if product.get_image.image.url_huge %}
                        {% badges_for_product product %}
                        <img class="img_product_{{ category.slug }}" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_huge }}" />
                    {% else %}
                        <img class="no_image" width="150px" height="100px" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ STATIC_URL }}img/200x200.gif" />
                    {% endif %}
                </a>
            </div>
            {% if not product.is_product_with_variants %}
                <div class="span6">
                    {% property_value_icons product %}
                    <div class="product-form">
                        <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    </div>
                    {% if product.get_for_sale %}
                        <div class="product-price">
                            <span class="label label-important price">{% for_sale_price product %}</span>
                            <ul>                
                                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="product-price">
                            <span class="label label-info price">{% price product %}</span>
                        </div>
                    {% endif %}
                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}" class="add-to-cart-form" method="post">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <input class="input-small inline hide" name="quantity" type="text" value="4" />
                        {% include 'lfs/catalog/init_buy_button.html' with id=product.id page_type='category_page' %}
                    </form>
                </div>
            {% endif %}
            {% if  product.is_product_with_variants %}
                <div class="span6">
                    {% property_value_icons product %}
                    <div class="product-form">
                        <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    </div>
                    {% if product.get_for_sale %}
                        <div class="product-price">
                            <span class="label label-important price">{% for_sale_price product %}</span>
                            <ul>                
                                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="product-price">
                            <span class="label label-info price">{% cheapest_price product %}</span>
                        </div>
                    {% endif %}
                       {% all_variants_button product.pk %}
                   </div>
                   <p class="variants-quantity">Найдено размеров: {{ product|correct_variants|correct_variants_property|sorted_by_diametr|length }}</p>
                </div>
            {% endif %}
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
<script type="text/javascript">
$(document).ready(function() {
    $('.button_add_cart').click(function(){
    GIHhtQfW_AtmPixel('infoshina.com.ua/to_cart.html');
    });
});
</script>

