{% if custom_breadcrumbs %}
<span class="divider"> / </span> </li>
 <li  itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="titile">{{ custom_breadcrumbs }}</span></li>
 {% else %}
</li>
 {% endif %}