{% load lfs_tags %}
{% load l10n %}
{% load i18n %}

{% localize off %}
{% if average %}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <div class="average-rating">
        <ul class="star-rating pull-left">
                <meta itemprop="ratingValue" content="{{average}}" />
                <meta itemprop="bestRating" content="5" />
                <meta itemprop="ratingCount" content="{{ amount }}" />
            <li class="current-rating"
                style="width:{{average|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
        <!-- <a  title="ко-во отзывов" class="scroll_to_reviews"><span class="amount pull-right">{{ amount }} 
            {% if amount != 1  and amount <= 4 %}
            отзыва
            {% else %}
            {% if amount == 21 or amount == 31 %}
            {% else %}
            {% blocktrans count counter=amount %}  отзыв{% plural %} отзывов{% endblocktrans %} {% endif %}
            {% endif %} </span></a>
            -->
    </div>
</div>
{% endif %}
{% endlocalize %}
