{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{% load snippets_tags %}
{% load seo_data %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
        {% block head %}
        <meta name="robots" content="noindex,follow">
    {% endblock %}

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>

</head>
{% load i18n %}

<body>
    <div class="form_body">
{% if form %}

       <div class="portlet-header">
        <h4><p>Отзывы о товаре</p></h4>
    </div>
<input type='hidden' id="ajax_load_children" value='{{ ajax_load }}' />
    <form action="{% url reviews_add content_type_id content_id %}"
          method="post" class="form-vertical modal-form">
        {% csrf_token %}
            <fieldset>
                <label>
                    <label for="id_user_name">Имя *</label>
                </label>

                {% if form.user_name.errors %}
                    <div class="alert alert-error">
                        {{ form.user_name }}
                        {{ form.user_name.errors }}
                    </div>
                    <script>
                    $('document').ready(function(){
                        $('.loadOverOverlay').remove();
                    });
                    </script>
                {% else %}
                        {{ form.user_name }}
                {% endif %}
            {% if request.user.is_anonymous %}
                <label>
                    <label for="id_user_email">Электронная почта *</label>
                </label>

                {% if form.user_email.errors %}
                    <div class="error">
                        {{ form.user_email }}
                        {{ form.user_email.errors }}
                    </div>
                    <script>
                    $('document').ready(function(){
                        $('.loadOverOverlay').remove();
                    });
                    </script>
                {% else %}
                        {{ form.user_email }}
                {% endif %}
            {% endif %}
            </fieldset>

        <label>{{ form.score.label_tag }}</label>
        <div class="star-rating-wrapper">
            {% if form.score.errors %}
                <div class="alert alert-error">
                    {{ form.score.errors }}
                </div>
                <script>
                    $('document').ready(function(){
                        $('.loadOverOverlay').remove();
                    });
                </script>
            {% endif %}
            <ul class="star-rating">
                {% for score in scores %}
                    <li>
                        <a 
                           class="rate for_{{ score.title }}{% if score.current %}current-rating{% endif %}"
                           title="{{ score.title }}"
                           data="{{ score.value }}"
                           style="z-index:{{ score.z_index }}; width:{{ score.width }}px">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
            <label>{{ form.comment.label_tag }}</label>

            {% if form.comment.errors %}
                <div class="alert alert-error">
                    {{ form.comment }}
                    {{ form.comment.errors }}
                </div>
                <script>
                    $('document').ready(function(){
                        $('.loadOverOverlay').remove();
                    });
                </script>
            {% else %}
                <div>
                    {{ form.comment }}
                </div>
            {% endif %}

        <input type="hidden"
               name="score"
               id="id_score"
               value="{{ request.POST.score }}" />

        <input type="hidden"
               name="content_type_id"
               value="{{ content_type_id }}" />

        <input type="hidden"
               name="content_id"
               value="{{ content_id }}" />

        <div class="form-actions">
        {% if show_preview %}
            <input onclick="this.disabled=true;" type="submit" class="btn load_btn btn-primary"
                   value="{% trans 'Preview' %}" />
        {% else %}
            <input onclick="this.disabled=true;" type="submit" class="btn load_btn btn-primary "
                   value="{% trans 'Send' %}" />
        {% endif %}
        </div>

    </form>
    <script type="text/javascript">
$('document').ready(function(){
    $('.load_btn').click(function() {
          $('.form-vertical.modal-form').loadOverStart();
    });
    $('.close').click(function() {
          $('.loadOverOverlay').remove();
    });
});
</script>
{% else %}
<h3></h3>
{% endif %}
</div>
</body>
</html>