{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>

</head>
<script type="text/javascript">
$(document).ready(function(){
	var send_signal = function(){
		$.ajax({
			type: "POST",
			url: "{% url 'send_review_added_signal' %}",
			data: {"review_id": "{{ object.id }}"},
			dataType: "json",
			})
	}
	$('.loadOverOverlay').remove();
	window.setTimeout('location.reload()', 3000);
	send_signal();
});
</script>
{% load i18n %}

<body>
    <div class="portlet-header">
	    <h4><p>Спасибо за отзыв</p></h4>
    </div>

 <p>После прохождения модерации ваш отзыв будет размещен на сайте.</p>
</body>
</html>
