{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load infoshina_theme_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load seo_data %}

{% block next_and_prev %}{% custom_prev_and_next_product_list block.super %}{% endblock %}
{% block head %}
    {% if pagination.current_page > 1 %}
        {# <meta name="robots" content="noindex,follow"> #}
    {% endif %}
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> <span class="divider">/</span>
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
{% include 'product_list_pages/toolbar.html' %}
<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}" alt="product list logo" title="product list logo">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>
    <div id="products">
        <table class="table">
        {% if not products_count%}
            <div class="alert">
                <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
            </div>
        {% endif %}
        {% for product in products %}
            {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
        <div class="row-fluid">
        <div class="span12">
        <div class="product-caption"><a href="http://{{request.get_host}}{% url 'lfs_product' product.slug %}" title="{{ product.get_name|lower }}">{{ product.get_name }}</a>
        </div>
        </div>
        {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
        </div>
        <div class="row-fluid">
            <div class="span6 wrapp_img">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}" title="{{ product.name|lower }}">
                    {% if product.get_image.image.url_huge %}
                        {% badges_for_product product %}
                        <img class="img_product_{{ category.slug }}" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_huge }}" />
                    {% else %}
                        <img class="no_image" width="150px" height="100px" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ STATIC_URL }}img/200x200.gif" />
                    {% endif %}
                </a>
            </div>
            {% if not product.is_product_with_variants %}
            <div class="span6">
                {% property_value_icons product %}
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                </div>
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% include 'lfs/catalog/init_buy_button.html' with id=product.id %}
            </div>
            {% endif %}
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
    </table>
    </div>
    {% include "lfs/catalog/categories/product/products_navigation.html" %}
{% endblock %}
{% block body_bottom %}

{% endblock %}