{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load infoshina_theme_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load seo_data %}

{% block next_and_prev %}{% custom_prev_and_next_product_list block.super %}{% endblock %}
{% block head %}
    {% if pagination.current_page > 1 %}
        {# <meta name="robots" content="noindex,follow"> #}
    {% endif %}
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="/" ><i class="icon-home"></i></a> <span class="divider">/</span>
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> <span class="divider">/</span>
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
{% include "product_list_pages/toolbar.html" %}
<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>
    
    

<div id="products">
    {% if product_none %}
        <div class="alert">
            <p>{% trans 'Сейчас в этом списке нет товаров. Возможно они появятся позже.' %}</p>
        </div>
        <p><a href="/">{% trans 'Home'%}</a></p>
    {% elif not products_count%}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}" title="{{ product.name|lower }}">
                    {% if product.get_image.image.url_huge %}
                        {% badges_for_product product %}
                        <img class="img_product_{{ category.slug }}" alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ product.get_image.image.url_huge }}" />
                    {% else %}
                        <img alt="{{ product.name|lower }}" title="{{ product.name|lower }}" src="{{ STATIC_URL }}img/100x100.gif" width="100px" height="100px" />
                    {% endif %}
                </a>
            </div>
            <div class="span8">
                <div class="product-caption"><a href="http://{{request.get_host}}{% url 'lfs_product' product.slug %}" title="{{ product.get_name|lower  }}">{{ product.get_name }}</a></div>
                {% property_value_icons product %}
                <div class="product-description">{{ product.get_short_description|safe }}</div>

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="product-form span12">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span2">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url 'lfs_product_variants_for_category' product.pk %}" class="btn ajax-load js-hide" title="все варианты" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% include 'lfs/catalog/init_buy_button.html' with id=product.id %}
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
{% endblock %}
{% block body_bottom %}

{% endblock %}