{% if order and google_analytics_id and ga_ecommerce_tracking %}

    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
          _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        _gaq.push(["_addTrans",
         "{{order.number}}",
          "Zweigstelle",
          "{{order.price|floatformat}}",
          "{{order.tax|floatformat}}",
          "{{order.shipping_price|floatformat}}",
           "",
          "{{Bundesland}}",          
          "Ukraine"
        ]);

        {% for item in order.items.all  %}
            _gaq.push(["_addItem",
              "{{order.number}}",
             "{{item.product_sku}}",
              "{{item.product_name}}",
              "Kategorie",
              "{{item.product_price|floatformat}}",
              "{{item.product_amount|floatformat}}",
            ]);    
        {% endfor %}  
  
      _gaq.push(["_trackTrans"]);
    </script>
    <script id="CrossssGoScr" type="text/javascript">(function(){var f = function(){var s = document.createElement("script");document.getElementsByTagName("HEAD")[0].appendChild(s);s.type="text/javascript";s.async=true;s.src="http://crossss.com/crossssInfo.aspx?id=355";};if (navigator.userAgent.toLowerCase().indexOf("opera")!=-1){document.addEventListener("DOMContentLoaded",f,false);}else{f();} })();</script>
{% endif %}