{% load i18n %}
{% load url from future %}
{{ register_form.media }}
<form class="registration" action="{% url 'modal_registration' %}"
	  method="post" class="registration form-horizontal custom-form"
	  data-update-url="{% url 'update_register_form' %}">
	    {% include "lfs/customer/register_form.html" %}
</form>
<script type="text/javascript">
    $(function(){
      $("#require_accept_rules").attr("checked",true);
      var $maskReg = $('.registration-form .control-group #id_username').first(); 
      $maskReg.inputmask({
          mask: "38 (999) 999-99-99",
          showMaskOnHover: false
      }); 
    })
  $(document).on("submit", "#sshop-modal .registration", function(){
    var usernameVal =  $('.registration-form .control-group #id_username').first().val().replace(/-/g,'').replace(/ /g,'').replace('(','').replace(')',"");
    $('.registration-form .control-group #id_username').inputmask({mask: "999999999999"});
    $('.registration-form .control-group #id_username').first().val(usernameVal);
    data = $(this).serializeArray();

    $.ajax({
        type: 'POST',
        url: "/modal-registration/",
        data: data,
        dataType: "json",
        success: function(msg){
            if(msg)
                $('.registration-form').html(msg['html']);
            else{
                $.get('/cart-block',
                  success=function(html){
                    $('#cart-container').html(html);
                  });
                $.get('/top-bar',
                  success=function(html){
                    $('#top-bar-container').html(html);
                  });
                $("#sshop-modal .close").click();
                $.jGrowl('Вы вошли.',{
                    theme: "registration-autentif-message",
                    life:4000,
                });
            }
        },
    });
    return false;
  });
</script>