{% load i18n %}
<div class="row-fluid external_blocks">
{% if category_slug %}
    <div {% if image %} style="background:url('{{MEDIA_URL}}{{ image }}') center no-repeat;"{% endif %} class="external_blocks_filter" id="external_blocks_filter_{{ id }}" >
        <div class="portlet-header">
            <h4><p>{{ title }}</p></h4>
        </div>
        {% for f in filters %}
        <div class="external-filter">
            <div id="external-filter-{{ f.filter.id }}">
                {% if f.view == 'list' %}
                    {% include "external_blocks/external_blocks_filter_list.html" %}
                {% elif f.view == 'select' %}
                    {% include "external_blocks/external_blocks_filter_select.html" %}
                {% endif %}
            </div>
        </div>    
        {% endfor %}
        {% if show_button %}
        <div class="external-filter external_btn">
            <!-- <a class="clear_external_filter btn pull-left"><i class="icon-remove-circle icon-white"></i></a> -->
            <a href='{{ button_link }}' class="btn external_filter">{{ show_button }}</a>
        </div>
        {% endif %}
    </div>
    {% include "external_blocks/external_blocks_filter.js" %}
</div>
{% endif %}