{% load external_block_tags %}
 {% for option, link in f.options %}
    <div>
	{% with option|manufacturer_image_from_option as image %}
            {% if image %}
                <img src="{{image.url}}">
                <a href="http://{{request.get_host}}{{ link }}" title="{{ option.title|lower }}" class="external_filter_option_list">{{ option.title }}</a>
            {% else %}
                <a href="http://{{request.get_host}}{{ link }}" title="{{ option.title|lower }}" class="external_filter_option_list">{{ option.title }}</a>
            {% endif %}
        {% endwith %}
    </div>
{% endfor %}