<select class="external_filter_option_select input-medium" name="filter-{{ f.filter.identificator }}">
    <option value="none"> {{ f.filter.displayed_title }}</option>
    {% for option, link, image in f.options %}
        {% if option.identificator == f.selected %}
            <option value="{{ option.identificator }}" selected="selected">{{ option.title }}</option>
        {% else %}
            <option value="{{ option.identificator }}">{{ option.title }}</option>
        {% endif %}
    {% endfor %}
</select>