<div class="step-by-step_portlet">
{% for select in selects %}
    <div class="step_item_id">
        {% if select.options %}
        <select name="step_item_id_{{ select.options.0.parent.id }}">
            <option>{{ select.level_name }}</option>
            {% for o in select.options %}
            <option value="{{ o.id }}" {% if select.init == o.id %}selected{% endif %}>{{ o.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <select disabled>
            <option>----</option>
        </select>
        {% endif %}
    </div>
{% endfor %}
</div>
<a class="step-by-step accept disabled btn">Подобрать</a>
<script type="text/javascript">
$(document).ready(function() {
    initCustomForms();
});
</script>