{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{% load snippets_tags %}
{% load seo_data %}
{% load infoshina_theme_tags %}
{% load pcart_api_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
     {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <meta name='yandex-verification' content='5fa1ccba126e3f37' />
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="title" content="{% block keywords %}{% get_keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% get_description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords_2 %}{% get_keywords_2 %}{% endblock %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/fav.png" type="image/png" />
     {% block next_and_prev %} {% endblock %}
    {% block head %}
        {% if request.canonical_url %}
            {{ request.canonical_url|safe }}
        {% endif %}
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.inputmask.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maintenance.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bxslider.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/loadover.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/inputmask.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
    {% endcompress %}
    {% include 'lfs/extra_css.html' %}
    {% if request.path == '/thank-you' %}
    {% block thank-you %}{% endblock %}
    {% else %}
        {% block google-analytics %}{% snippets 'Head bottom' %}{% endblock %}
    {% endif %}
    {% block head_bottom %}{% link_to_mobile_template %}{% endblock %}
</head>
<body class="{% block section %} {% if main_page %}main-page{% endif %} {% endblock %} {# body-new-year #} ">
    {% block header_messages %}
        <div id="maintenance-block"></div>
    {% endblock %}
     {% snippets 'Body top' %}
    {% block product_h1 %}
    {% endblock %}
     {% block seo_text_new %}
    <div id="top-text-wrapper" style="display:none;">
        {% get_seo_text_new_infoshina as seo_text_new %}
        {{ seo_text_new|safe }}
        {% if not seo_text_new and product %}
            <script type="text/javascript">
                $(function(){
                    $.ajax({
                        type: "POST",
                        url: "{% url get_product_seo_text %}",
                        data: { product_id: "{{product.id}}"},
                        dataType: "json",
                        success: function(reponse){
                            $('#top-text-wrapper').html(reponse['seo_text']);
                        }
                    });
                });
            </script>
        {% endif %}
    </div>
    {% endblock %}

    {#======--------- NEW YEAR ----------============= #}
    {% comment %}
        
        <div class="new-year-left-block"></div>
        <div class="new-year-right-block"></div>

    {% endcomment %}
    {# --------------- NEW YEAR  ---------------------- #}
    <div id="wrap">


        <div id="header" class="row-fluid print-hide {# new-year-bg #}">
        <div class="container">
            <div class="row-fluid block_header">
                <div class="span3 logo"></div>
                <div class="span6 static_block_header">
                    {% static_block "header" %}
                    <a class="modal-link call-me" href="/forms/obratnyy_zvonok/" title="перезвоните мне">Перезвоните мне</a>
                </div>
                <div id="top-bar-container"> {# Client script use this container for insert top bar here by ajax #}
                    <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
                </div>
            </div>
        {% block header %}
            <div class="row-fluid">

            {# ---------------========= NEW YEAR ==========----------- #}
                <div class="span3 logo {# logo-new-year #}">


                    <a href="/" style="margin-left: 0;">
                        <img id="logo" src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" title="logo" alt="logo">
                    </a>
                    <p>работаем 7 дней в неделю</p>
                </div>
                <div class="span7 block_search">
                    <div class="row-fluid print-hide">
                        <div class="span12">
                        {% include "lfs/search.html" %}
                        </div>
                        <div class="advantage row-fluid">
                            <ul>
                                <li class="delivery"><span>Бесплатная доставка</span></li>
                                <li class="discount"><span>Дисконтная программа</span></li>
                                <li class="guarantee"><span>Гарантия возврата</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span2 wrapp_block_cart">
                    {# Client script use this container for load cart here by ajax #}
                    <div id="cart-container">
                        <div class="row-fluid cart_block">
                            <div class="row-fluid">
                            <div class="span2">
                                <div class="img_cart"></div>
                            </div>
                            <div class="span10 empty">
                                <p>{% trans "Cart is empty." %}</p>
                            </div>
                            </div>
                        </div>

                        {# --------------- NEW YEAR  ---------------------- #}
                        <div class="row-fluid cart_btn {# new-year-btn #}">
                            <div class="span12">
                                <a title="оформить заказ" class="cart-btns" href="http://{{request.get_host}}{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>



        {# --------------- NEW YEAR  ---------------------- #}


        <div id="top-bar-wrapper" class="{#top-bar-wrapper-new-year#}"> {# Client script use this container for insert top bar here by ajax #}
             <div class="container">
                <div class="span12">
                {# Link bar #}
                <div class="navbar header-nav pull-left">
                    {% actions Link_bar %}
                    <ul class="nav">
                        {% vertical_menu %}
                        {% for action in actions %}
                            <li><a href="{{ action.link }}"><span>{{ action.title }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>  
                </div>
            </div>
        </div>
        </div>

    {% if messages %}
        {% for message in messages %}
        <div class="__action__hide-after-10-seconds alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div id="content">
        <div class="row-fluid">
            {%if not main_page%}
                <div id="breadcrumb" class="container">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="container">
            {% block wrapper %}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                <div id="middle-slot-container"> {# Class is set automatically #}
                    <div class="middle-slot">
                        <div class="row-fluid"><div>
                             {%if main_page%}{% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}{% endif %}

                            {% if request.proxyattr_car %}
                            <div class="row-fluid">
                            <div class="span12"><br>
                            {% insert_portlet "replacingrecommendportlet" %}
                            </div></div>{% endif %}

                        {% block content %}{% endblock %}
                        </div></div>
                    </div>
                </div>
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
            {% endblock %}
        </div>
        </div>
            <div id="push"></div>
    </div>
    </div>
    {% if not product %}
        {% block esender %}
            {% lfs_portlet_slot 'esender' %}
        {% endblock esender %}
    {% endif %}
    <div id="footer" class="row-fluid">
        <div class="container">
            <div class="row-fluid">
                {% static_block "footer" %}
                <div class="span4 navbar header-nav">
                    {% actions Link_bar %}
                    <ul>
                        <li class="main-category">     
                            <a href="http://infoshina.com.ua/shiny"><span>Шины</span></a>
                        </li>
                        <li class="main-category">     
                            <a href="http://infoshina.com.ua/diski"><span>Диски</span></a>
                        </li>
                        {% for action in actions %}
                            <li class="main-category"><a title="{{ action.title|lower }}" href="{{ action.link }}">{{ action.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="http://aquaweb.com.ua/articles/sozdanie-internet-magazinov/stoimost-internet-magazina" rel="nofollow" style="color:#f7f7f7; font-size:10px;margin-left: 17px;" target="_blank" title="Cоздание интернет-магазина">Cоздание интернет-магазина ООО "Аква-вебстудио" </a>
            </div>
        <div class="row-fluid print-hide">
            <div class="span12">
                <ul class="unstyled">
                    {% block footer %}

                    <li class="footer-title">{% actions Footer %}</li>

                    {% for action in actions %}
                        <div class="span1">
                          <a alt="{{action.title}}" title="{{action.title}}" href="http://{{request.get_host}}{{action.link}}">{{action.title}}</a>
                            {% for child in action.children.all %}
                                 <li><a alt="{{action.title}}" title="{{action.title}}" href="http://{{request.get_host}}{{child.link}}"> {{child.title}}</a></li>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div id="load_related_options"></div>
        <div class="row-fluid print-show">
            <div class="span12">
                Alternate footer for print version
            </div>
        </div>
        </div>
    </div> 
     {% include "lfs/modal.html" %}
    <div class="modal-login" style="display:none;">
        <p class="form-registration-text">Регистрация</p>
        <p class="form-login-text">Что бы не потерять товары которые Вы добавляете в Избранное, войдите в свой личный кабинет</p>
        <div class="login-form"></div>
        <p class="js-not-registered">
            <span>Еще не зарегестрированы?</span>
        </p>
        <div class="registration-form">
        </div>
        <p class="js-alreadyregistered">
            <span>Я уже зарегестрирован</span>
        </p>
        <script>
        $('.js-not-registered').click(function(){
            $(this).hide();
            $('.form-registration-text').show();
            $(".login-form").hide();
            $('.form-login-text').hide();
            $('.js-alreadyregistered').show();
            $('.registration-form').show();
        });
        $('.js-alreadyregistered').click(function(){
            $(this).hide();
            $('.form-registration-text').hide();
            $('.form-login-text').show();
            $(".registration-form").hide();
            $('.js-not-registered').show();
            $('.login-form').show();
        });
        </script>
    </div>
    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}

    {% block body_bottom %}
          <script>
            mediator.publish('change_slots_width', "span2", "span8", "span10");
            $("#require_accept_rules").attr("checked",true);
          </script>
    {% endblock %}

    {% include 'lfs/extra_js.html' %}


    {% snippets 'Body bottom' %}

</body>
<script type="text/javascript">
    $("#top-text-wrapper").appendTo("#middle-slot-container").css({
      position: 'inherit',
      width: '100%',
      'margin-left': '0',
      left: '0',
      display: 'block'
    });
</script>
</html>
