{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
<div class="span3 login">
    <ul class="nav_admin">
    {% if user.is_authenticated %}
        <li><a title="выход" href="http://{{request.get_host}}/logout">{% trans 'Logout' %}</a></li>

        <li><a title="личный кабинет" href="http://{{request.get_host}}{% url lfs_my_account %}">
            {% include "lfs/customer/customer_name.html" %}</a>
        </li>

        {% if user.is_superuser or user.is_staff  %}
            <li><a title="управление" href="http://{{request.get_host}}{% url admin:index %}">{% trans 'Manage' %}</a></li>
        {% endif %}

    {% else %}
        {% if CUSTOMER_AUTH_ENABLED %}
            <li><a title="вход" href="http://{{request.get_host}}{% url lfs_login %}">{% trans 'Вход' %}</a></li>
        {% endif %}
    {% endif %}
    </ul>
</div>